{% block map_picker_widget %}
	<div id="map"></div>
	<hr>
	{{ form_widget(form) }}

{% endblock %}

{% block field_to_fill_widget %}
	<div id="img-field" class="col-11 text-center w-100">
		<img class="w-100" src="{{ vich_uploader_asset(value, "imageFile") | imagine_filter('field') }}">
	</div>
{% endblock %}

{% block field_template_position_widget %}
	<div class="accordion" id="positions-list" data-prototype="
											{% filter escape('html_attr') %}
												{% include 'form/prototype_position.html.twig' with {form: form.vars.prototype, positionId: " __name__"} only %}
											{% endfilter %}
										" data-index="{{form|length}}">
		{% for position in form %}
			{% include 'form/prototype_position.html.twig' with {form: position, positionId: loop.index0} %}
		{% endfor %}
	</div>
{% endblock %}

{% block switch_widget %}
	<label class="switch">
		<input type="checkbox" data-index="{{ index }}" id="{{ form.vars.id }}" name="{{form.vars.name }}" value="{{ form.vars.value }}" class="{{ (class)? class }}">
		<span class="slider round"></span>
	</label>
{% endblock %}

{% block tag_choice_widget %}
	{% for radio in form %}
		<label class="custom-radio">
			<input type="radio" id="{{radio.vars.id}}" name="{{ form.vars.name}}" {{ (radio.vars.required)?"required" }} value="{{radio.vars.value }}" {{ (radio.vars.checked)?"checked" }}>
			<button type="button" class="uncheck btn btn-outline-{{ tags[loop.index0].color }} m-1">
				<span class="far fa-square mr-1"/>
				{{ tags[loop.index0].name }}
			</button>
			<button type="button" class="check btn btn-{{ tags[loop.index0].color }} m-1">
				<span class="far fa-check-square mr-1"/>
				{{ tags[loop.index0].name }}
			</button>
		</label>
	{% endfor %}
{% endblock %}

{% block in_out_widget %}
	<div class="form-group" id="{{ form.vars.id }}" data-index="{{ index }}" data-username="{{ username }}">
		<label class="custom-radio">
			<input type="radio" id="{{form[0].vars.id}}" name="{{ form.vars.full_name}}" {{ (form[0].vars.required)?"required" }} value="{{form[0].vars.value }}" {{ (form[0].vars.checked)?"checked" }}>
			<button type="button" class="uncheck btn btn-outline-danger m-1">
				<span class="fa fa-thumbs-down mr-1"/>
				{{ (text is defined)?"out" }}
			</button>
			<button type="button" class="check btn btn-danger m-1">
				<span class="fa fa-thumbs-down mr-1"/>
				{{ (text is defined)?"out" }}
			</button>
		</label>

		<label class="custom-radio">
			<input type="radio" id="{{form[1].vars.id}}" name="{{ form.vars.full_name}}" {{ (form[1].vars.required)?"required" }} value="{{form[1].vars.value }}" {{ (form[1].vars.checked)?"checked" }}>
			<button type="button" class="uncheck btn btn-outline-success m-1">
				<span class="fa fa-thumbs-up mr-1"/>
				{{ (text is defined)?"in" }}
			</button>
			<button type="button" class="check btn btn-success m-1">
				<span class="fa fa-thumbs-up mr-1"/>
				{{ (text is defined)?"in" }}
			</button>
		</label>
	</div>
{% endblock %}
