
<div class="form-inline">
    {{ form_widget(form.template, {'attr':{'class': 'col-8 template-select custom-select', 'data-index':index}}) }}
    <div class="btn-group">
        <a 
            class="btn text-muted" 
            data-toggle="popover" 
            data-placement="bottom"
            tabindex="0"
            data-html="true"
            data-index="{{ index }}"
            data-content='<a href="#" class="change-template">{{ 'event.plan.template.change'|trans }}</a>'
        >
            <span class="fa fa-pencil-alt"/>
        </a>
        <a 
            class="btn text-muted" 
            data-toggle="popover" 
            data-placement="bottom"
            tabindex="0"
            data-html="true"
            data-index="{{ index }}"
            data-content='<a href="#" class="reset-template">{{ 'event.plan.template.reset'|trans }}</a>'
        >
            <span class="fa fa-times"/>
        </a>
        <a
            class="btn text-muted" 
            data-toggle="popover" 
            data-placement="bottom"
            tabindex="0"
            data-html="true"
            data-index="{{ index }}"
            data-content='<a href="#" class="remove-template" data-index="{{ index }}">{{ 'event.plan.template.remove'|trans }}</a>' 
        >
            <span class="fa fa-trash"/>
        </a>
    </div>
</div>

