{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('css/calendar/style.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
	<div style="max-height:100vh;">
		<div id="header_cal">
			{{ render(controller('App\\Controller\\EventController::header')) }}
		</div>
		<div id="calendar-framework" class="col-lg-12">
			<table id="table-times" class="table table-hover">
				<tbody>
					{% for i in 0..48 %}
						{% if i is even %}
							<tr class="hour-line-even">
								<td class="first-column" style="">
									<small><small class="hour-label text-muted">{{ i/2 }}:00</small></small>
								</td>
								{% for j in 1..7 %}
									<td class="column table-bordered"></td>
								{% endfor %}
							</tr>
						{% else %}
							<tr class="hour-line-odd">
								<td class="first-column"></td>
								{% for h in 1..7 %}
									<td class="column table-bordered"></td>
								{% endfor %}
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
			<table  id="event-table" class="table">
				<!-- cette table contiendra les evenements chargés en javascript -->
				<tbody>
					<tr>
						<td class="column"></td>
						{% for iday in 0..6 %}
						{% set day = targetMonday.timestamp + iday * 86400 %}
							<td class="case" id="jour_{{ loop.index }}_{{ day }}"></td>
						{% endfor %}
					</tr>
				</tbody>
			</table>
			<!-- je sais plus à quoi elle sert -->
			<table id="today-bar" class="table">
				<tbody>
					<tr id="first-line">
						<td  id="red-line"></td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

