<div class="row">
	<div class="col-lg-6"><h1>{{ targetMonday|date('F') }} <small>S{{ targetMonday|date('W') }}</small></h1></div>
	<div class="col-lg-6 text-right">
		<div class="col-lg-12">
			<div class="btn-group" role="group">
  				<button type="button" class="btn btn-default" id="button_lundi_{{ targetMonday.timestamp - 604800 }}"><span class="fas fa-chevron-left"/></button>
  				<button type="button" class="btn btn-default" id="button_lundi_{{ "now"|date('U') }}">Aujourd'hui</button>
  				<button type="button" class="btn btn-default" id="button_lundi_{{ targetMonday.timestamp + 604800 }}"><span class="fas fa-chevron-right"/></button>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<table class="table">
		<tbody>
			<tr>
				<td style="width: 50px;"></td>
				{% for iday in 0..6 %}
                {% set day = targetMonday.timestamp + (86400 * iday) %}
				<td>
					<h3>
                        {{ day|date('D') }}
						{% if day|date('d/m/Y') == "now"|date('d/m/Y') %}
							<span  class="badge badge-danger">
						{% else %}
							<span>
						{% endif %}
							{{ day|date('j') }}
						</span>
					</h3>
				</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>