<div class="row">
	<div class="col-lg-6"><h1>{{ dateCible|date('F') }} <small>S{{ dateCible|date('W') }}</small></h1></div>
	<div class="col-lg-6 text-right">
		<div class="col-lg-12">
			<div class="btn-group" role="group">
  				<button type="button" class="btn btn-default" id="button_lundi_{{ lundiPrec.timestamp }}"><span class="glyphicon glyphicon-chevron-left"/></button>
  				<button type="button" class="btn btn-default" id="button_lundi_{{ now.timestamp }}">Aujourd'hui</button>
  				<button type="button" class="btn btn-default" id="button_lundi_{{ lundiSui.timestamp }}"><span class="glyphicon glyphicon-chevron-right"/></button>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<table class="table">
		<tbody>
			<tr>
				<td style="width: 50px;"></td>
				{% for jourSemaine in joursSemaine %}
				<td>
					<h3>{{ jourSemaine|date('D') }}
						{% if jourSemaine|date('d/m/Y') == now|date('d/m/Y') %}
							<span  class="badge">
						{% else %}
							<span class="">
						{% endif %}
							{{ jourSemaine|date('j') }}
						</span>
					</h3>
				</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
</div>