{% extends 'layout.html.twig' %}

{% block title %}
	player index
{% endblock %}

{% block page_title %}
	<h1>Player index</h1>
{% endblock %}

{% block content %}

	<div class="row" style="height: 300px;">
		<img src="{{ asset('image/default/no-pic-team.jpg') }}" class="img-rounded col-lg-12" alt="profile-pic">
	</div>
	<p>
		The full team
	</p>

	{% for player in players %}
		<div class="card">
			<div class="card-body row">
				<div class="col-2">
					<a href="{{ path('profile-view', {'username': player.user.username}) }}">
						<img src="{{ asset(vich_uploader_asset(player.user.profilePic, "imageFile"))| imagine_filter('profile_pic')}}" class="img-rounded col-lg-12" alt="profile-pic">
					</a>
				</div>
				<div class="col">
					<div class="row">
						<h3>{{ player.user.firstName }}
							{{player.user.LastName}}</h3>
						<small class="text-muted">
							//
							{{ player.user.username }}</small>
					</div>
					<div class="row">
						email:
						{{player.user.email}}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block aside %}
	<div class="card">
		<div class="card-header">
			<p class="card-title"><span class="fas fa-filter"/>Filter members</p>
		</div>
		<div class="card-body">
			plein de filtres
		</div>
	</div>
{% endblock %}
