{% extends (app.token.providerKey == 'admin') ? 'admin.layout.html.twig': 'layout.html.twig' %}

{% block title %}add a new event
{% endblock %}

{% block page_title %}
	<h1>add a new event</h1>
{% endblock %}

{% block content %}

	{{ form_start(form) }}

	{{ form_errors(form) }}

	<div class="form-group row">
		{{ form_label(form.tag, "tag:", {'label_attr': {'class': 'col-lg-2 col-form-label'}}) }}
		<div class="col-10 row">
			{% for tag in tags %}
				<div id="select_event_tag_{{ tag.id }}" class="btn btn-outline-{{ tag.color }}" onclick="changeCheckValue(this)" data-color="{{ tag.color }}">
					<span class="">
						<i class="far fa-square"></i>
					</span>
					{{ tag.name}}
				</div>
			{% endfor %}
		</div>
	</div>


	{{ form_widget(form.tag, {'attr': {'class':'sr-only'}}) }}

	<div class="form-group row">
		{{ form_label(form.name, "event name: ", {'label_attr': {'class':'col-lg-2 col-form-label'}}) }}
		<div class="col-lg-10">
			{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'name...'}}) }}
		</div>
	</div>

	<hr/>

	<div class="form-group row">
		{{ form_label(form.start, "start at: ", {'label_attr': {'class':'col-lg-2 col-form-label'}}) }}
		<div class="col-lg-10 row">
			<div class="col-auto">
				<div class="input-group date" data-target-input="nearest" id="datepicker1">
					<div class="input-group-prepend" data-target="#datepicker1" data-toggle="datetimepicker">
						<span class="input-group-text">
							<i class="fas fa-calendar-alt"></i>
						</span>
					</div>
					{{ form_widget(form.start.date, {'attr': {'class': 'form-control datetimepicker-input', 'placeholder':'--/--/----', 'data-target':'#datepicker1'}}) }}
				</div>
			</div>
			<div class="col-auto">
				<div class="input-group date" data-target-input="nearest" id="timepicker1">
					<div class="input-group-prepend" data-target="#timepicker1" data-toggle="datetimepicker">
						<span class="input-group-text">
							<i class="fas fa-clock"></i>
						</span>
					</div>
					{{ form_widget(form.start.time, {'attr': {'class': 'form-control datetimepicker-input', 'placeholder':'--:--', 'data-target':'#timepicker1'}}) }}
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		{{ form_label(form.finish, "finish at: ", {'label_attr': {'class':'col-lg-2 col-form-label'}}) }}
		<div class="col-lg-10 row">
			<div class="col-auto">
				<div class="input-group date" data-target-input="nearest" id="datepicker2">
					<div class="input-group-prepend" data-target="#datepicker2" data-toggle="datetimepicker">
						<span class="input-group-text">
							<i class="fas fa-calendar-alt"></i>
						</span>
					</div>
					{{ form_widget(form.finish.date, {'attr': {'class': 'form-control datetimepicker-input', 'placeholder':'--/--/----', 'data-target':'#datepicker2'}}) }}
				</div>
			</div>
			<div class="col-auto">
				<div class="input-group date" data-target-input="nearest" id="timepicker2">
					<div class="input-group-prepend" data-target="#timepicker2" data-toggle="datetimepicker">
						<span class="input-group-text">
							<i class="fas fa-clock"></i>
						</span>
					</div>
					{{ form_widget(form.finish.time, {'attr': {'class': 'form-control datetimepicker-input', 'placeholder':'--:--', 'data-target':'#timepicker2'}}) }}
				</div>
			</div>
		</div>
	</div>

	<div id="map"></div>

	<hr>

	<div class="form-group row">
		{{ form_label(form.location.value, "location: ", {'label_attr': {'class': 'col-lg-2 col-form-label'}}) }}
		<div class="col-lg-10">
			{{ form_widget(form.location.value, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>

	{{ form_widget(form.location.type) }}
	{{ form_widget(form.location.name) }}
	{{ form_widget(form.location.city) }}
	{{ form_widget(form.location.country) }}
	{{ form_widget(form.location.countryCode) }}
	{{ form_widget(form.location.administrative) }}
	{{ form_widget(form.location.county) }}
	{{ form_widget(form.location.suburb) }}
	{{ form_widget(form.location.lat) }}
	{{ form_widget(form.location.lng) }}
	{{ form_widget(form.location.postcode) }}

	<hr/>

	<div class="form-group row">
		{{form_label(form.info, "infos: ", {'label_attr': {'class':'col-lg-2 col-form-label'}}) }}
		<div class="col-lg-10">
			{{form_widget(form.info, {'attr':{'class':'form-control'}}) }}
		</div>
	</div>

	<div class="card">
		<div class="card-body bg-light">
			<h5 class="card-title">Optionnal</h5>
			<div class="form-group row">
				{{ form_label(form.registerFinish, "last register at: ", {'label_attr': {'class':'col-lg-2 col-form-label'}}) }}
				<div class="col-lg-10 row">
					<div class="col-auto">
						<div class="input-group date" data-target-input="nearest" id="datepicker3">
							<div class="input-group-prepend" data-target="#datepicker3" data-toggle="datetimepicker">
								<span class="input-group-text">
									<i class="fas fa-calendar-alt"></i>
								</span>
							</div>
							{{ form_widget(form.registerFinish.date, {'attr': {'class': 'form-control datetimepicker-input', 'placeholder':'--/--/----', 'data-target':'#datepicker3'}}) }}
						</div>
					</div>
					<div class="col-auto">
						<div class="input-group date" data-target-input="nearest" id="timepicker3">
							<div class="input-group-prepend" data-target="#timepicker3" data-toggle="datetimepicker">
								<span class="input-group-text">
									<i class="fas fa-clock"></i>
								</span>
							</div>
							{{ form_widget(form.registerFinish.time, {'attr': {'class': 'form-control datetimepicker-input', 'placeholder':'--/--/----', 'data-target':'#timepicker3'}}) }}
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				{{ form_label(form.maxPlayers, "Max players: ", {'label_attr': {'class': 'col-lg-2 col-form-label'}}
				)}}
				<div class="col-lg-2">
					{{ form_widget(form.maxPlayers, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
	</div>

	{{ form_rest(form) }}
	<hr>
	<button class="btn btn-primary btn-block" name="event-add" type="submit">add new event</button>

	{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		lat = document.getElementById('event_location_lat');
lng = document.getElementById('event_location_lng');
	</script>

	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
	<script src="{{ asset('js/event/datepicker.js') }}"></script>
	<script src="{{ asset('js/event/leaferMap.js') }}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/places.js/1.16.3/places.min.js"></script>

	<script type="text/javascript">
		const fixedOptions = {
appId: '{{ algolia_place_app_id }}',
apiKey: '{{ algolia_place_api_id }}',
container: document.querySelector('#event_location_value')
};

const reconfigurableOptions = {
language: '{{ app.request.locale }}', // Receives results in local language
aroundLatLngViaIP: true // unable the extra search/boost around the source IP
};
const placesInstance = places(fixedOptions).configure(reconfigurableOptions);

placesInstance.on('change', function resultSelected(e) {
$("#event_location_type").val(e.suggestion.type || '');
$("#event_location_name").val(e.suggestion.name || '');
$("#event_location_city").val(e.suggestion.city || '');
$("#event_location_country").val(e.suggestion.country || '');
$("#event_location_countryCode").val(e.suggestion.countryCode || '');
$("#event_location_administrative").val(e.suggestion.administrative || '');
$("#event_location_county").val(e.suggestion.county || '');
$("#event_location_suburb").val(e.suggestion.suburb || '');
$("#event_location_lat").val(e.suggestion.latlng["lat"] || '');
$("#event_location_lng").val(e.suggestion.latlng["lng"] || '');
$("#event_location_postcode").val(e.suggestion.postcode || '');

moveMarker();

});
	</script>

	<script type="text/javascript">
		// function to change the radio button according to nicer link designed with bootstrap
function changeCheckValue(item) { // unselect all the other item
$(item).parent().find("i").attr('class', 'far fa-square');
var divs = $(item).parent().find("div");
divs.each(function () {
$(this).attr('class', 'btn btn-outline-' + $(this).attr('data-color'));
});
$(item).find('i').attr('class', 'far fa-check-square');
$(item).attr('class', 'btn btn-' + $(item).attr('data-color'))
var input = document.getElementById(item.id.replace("select_", ""));
input.checked = true;
}
	</script>
{% endblock %}
