{% extends 'admin.layout.html.twig' %}

{% block title %}Event index{% endblock %}

{% block content %}

<div class="jumbotron text-center">
	<h1>Events</h1>
    <p> Event management system </p>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Players</th>
                <th>visibility</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td><span class="badge badge-{{ event.tag.color }}">{{event.tag.name|slice(0,3)|raw}}.</span> {{ event.name }}</td>
                    <td>{{ event.start|date('d/m/Y')}}</td>
                    <td>{{ event.nbParticipationIn }}{{ (event.maxPlayers) ? '/'~event.maxPlayers }}</td>
                    <td>{{ (event.active) ? 'ok' : 'mute' }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('event-add-results', {'slug':event.slug}) }}" class="btn btn-outline-success">Add results</a>
                            <a href="{{ path('admin-event-view', {'slug':event.slug}) }}" class="btn btn-outline-primary">View</a>
                            <a href="{{ path('event-edit', {'slug':event.slug}) }}" class="btn btn-outline-info">Edit</a>
                            <a href="{{ path('event-activate', {'slug':event.slug}) }}" class="btn btn-outline-secondary">{{ (event.active) ? 'disable' : 'enable' }}</a>
                            <a href="{{ path('event-delete', {'slug':event.slug}) }}" class="btn btn-outline-danger">delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# TODO add pagination #}

{% endblock %}
