{% extends 'layout.html.twig' %}

{% block title %}
	Calendrier
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('css/calendar/style.css') }}" type="text/css"/>
	<link rel='stylesheet' href="{{ asset('css/fullcalendar/fullcalendar.css') }}" />
	<link rel='stylesheet' href="{{ asset('css/fullcalendar/scheduler.css') }}"  />

{% endblock %}

{% block content %}
	<div class="jumbotron">
		<h2>Calendar</h2>
	</div>

	<div id="calendar"></div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script >
		var getEvents = "{{ url('event-get', {}) }}";
	</script>

	<script src="{{ asset('js/calendar/updateTime.js') }}"></script>
	<script src="{{ asset('js/fullcalendar/fullcalendar.js') }}"></script>
	<script src="{{ asset('js/fullcalendar/myCalendar.js') }}"></script>
	<script src="{{ asset('js/fullcalendar/scheduler.js') }}"></script>
{% endblock %}
