{% extends 'layout.html.twig' %}

{% block title %}Event index{% endblock %}

{% block content %}

	<div class="jumbotron">
		<h2>Event index</h2>
	</div>

	{{ form_start(form) }}

		{{ form_errors(form) }}

		<button type="submit" name="listParticpation-update" class="btn btn-block btn-success">save changes</button>
		
		<hr/>

		<div class="row">
			{% for event in events %}
				<div class="card col-lg-12">
					<div class="card-header">
						<a href="{{ path('event-view', {'slug':event.slug}) }}">
							<h3 class="card-title">
								<span class="badge badge-primary">{{event.tag.name|slice(0,3)|raw}}.</span> 
								{{ event.name }}
							</h3>
						</a>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-2">
								<div class="row">
									{{  event.start|date('D')}}.
								</div>
								<div class="row">
									<h2>{{ event.start|date('j') }}</h2>
								</div>
								<div class="row">
									<h2>
										{{ event.nbParticipationIn }}
										{% if event.maxPlayers %}
											/{{ event.maxPlayers }}
										{% endif %}
									</h2>
								</div>
							</div>
							<div class="col-lg-10">
								<div class="row">
									<div class="col">
										<b>{{event.start|date('D h:i') }} - {{ event.finish|date('D h:i') }}</b>
									</div>
									<div class="col">
										<div 
                        					id="button_list_participation_participations_{{ loop.index0 }}_value_0" 
                        					class="btn 
                        						{% if participations[loop.index0].value == 0 %}
                            						btn-outline-success
                        						{% else %}
                            						btn-success
                        						{% endif %}"
                        					onclick="changeCheckValue(this)"
                    					>
                        					<span class=""><i class="fas fa-thumbs-up"></i></span>
                        					In
                    					</div>
										<div 
											id="button_list_participation_participations_{{ loop.index0 }}_value_1" 
											class="btn 
												{% if participations[loop.index0].value == 0 and participations[loop.index0].lastUpdate != null %}
													btn-danger
												{% else %}
													btn-outline-danger
												{% endif %}"
											onclick="changeCheckValue(this)"
										>
											<span class=""><i class="fas fa-thumbs-down"></i></span>
											Out
										</div>
										{{ form_widget(form.participations[loop.index0].value, {'attr': {'class': 'sr-only'}}) }}
										{{ form_widget(form.participations[loop.index0].comment, {'attr': {'class': 'sr-only'}}) }}
									</div>
								</div>
								<div class="row">
									<span class=""><i class="fas fa-info"></i></span>
									{{ event.info }}
								</div>
								<ul class="nav nav-tabs row" id="tab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="in-tab" data-toggle="tab" href="#in-{{loop.index0 }}" role="tab" aria-controls="in" aria-selected="true">
											<span class=""><i class="fas fa-thumbs-up"></i></span> In {{ event.nbParticipationIn }}
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="out-tab" data-toggle="tab" href="#out-{{ loop.index0 }}" role="tab" aria-controls="out" aria-selected="false">
											<span class=""><i class="fas fa-thumbs-down"></i></span> Out {{ event.nbParticipationOut }}
										</a>
									</li>
								</ul>
								<div class="row">
									<div class="tab-content" id="tabContent">
										<div class="tab-pane fade show active" id="in-{{ loop.index0 }}" role="tabpanel" aria-labelledby="in-tab">
											<div>
												{% for participation in event.participations %}
													{% if participation.value == 1 %}
														<span class="badge badge-secondary">{{ participation.user.username }}</span>
													{% endif %}
												{% endfor %}
											</div>
										</div>
										<div class="tab-pane fade" id="out-{{ loop.index0 }}" role="tabpanel" aria-labelledby="out-tab">
											<div>
												{% for participation in event.participations %}
													{% if participation.value == 0  and participation.lastUpdate != null %}
														<span class="badge badge-secondary">{{ participation.user.username }}</span>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		{{ form_rest(form) }}

	{{ form_end(form) }}

	<hr/>

	<div class=" row">
		<nav class="col-lg-6">
			<ul class="pagination">
				<li class="page-item {% if page == 1 %}disabled{% endif %}"><a class="page-link" href="{{ path('event-index', {'page': page-1}) }}">Previous</a></li>
				{% for i in max(page-3,1)..min(page+3,maxPage) %}
					<li class="page-item {% if i == page %}active{% endif %}"><a class="page-link" href="{{ path('event-index', {'page': i}) }}">{{ i }}</a></li>
				{% endfor %}
				<li class="page-item {% if page == maxPage %}disabled{% endif %}"><a class="page-link" href="{{ path('event-index', {'page': page+1}) }}">Next</a></li>
			</lu>
		</nav>
		<div class="col-lg-6">Result {{ (page-1) * nbEventPerPage }} - {{ min(page * nbEventPerPage,nbEvent) }} from {{ nbEvent }} Events</div>
	</div>

{% endblock %}

{% block aside %}
	<div class="card">
		<div class="card-header">
			<p class="card-title"><span class="fas fa-filter"/>Filter events</p>
		</div>
		<div class="card-body">
			plein de filtres
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<script src="{{ asset('js/event/changeCheck.js') }}"></script>
	
{% endblock %}