{% extends 'base.html.twig' %}

{% block title %}indeEvent{% endblock %}

{% block body %}
<div class="panel panel-default">
	<div class="panel-heading"><h2>events</h2></div>
  		<div class="panel-body">
  			<div class="row">
	    		{% for event in listEvents %}
	    		    {% if event.active == true %}
				        <div class="col-lg-12 panel panel-default">
		      		        <div class="panel-body">
		      			        <div>
                                  <p> {{event.id }}</p>
		        			        {#<p><strong>by <em>{{ post.author.username }}</em>, on {{ author.publishDate|date('d/m/Y') }}</strong></p>#}
                                    <p>{{event.info|slice(0,150)|raw}}</p>
		   					        {% if event.active == false %}
		   					            <p class="alert alert-warning">The post is not yet public</p>
		   					        {% endif %}
		      			        </div>
		      		        </div>
	      		        </div>
	      		    {% endif %}
                {% else %}
	      		    <div>No Events (yet!)</div>
	    		{% endfor %}
            </div>
        </div>
    </div>
</div>

{{dump()}}

{% endblock %}
