{% extends 'layout.html.twig' %}

{% block title %}indeEvent{% endblock %}

{% block content %}

	<div class="jumbotron">
		<h2>Event index</h2>
	</div>

	{{ form_start(form) }}

		{{ form_errors(form) }}

		<button type="submit" name="listParticpation-update" class="btn btn-block btn-success">save changes</button>
		
		<hr/>

		<div class="row">
			{% for event in events %}
				<div class="card col-lg-12">
					<div class="card-header">
						<a href="{{ path('event-view', {'slug':event.slug}) }}">
							<h3 class="card-title">
								<span class="badge badge-primary">{{event.tag.name|slice(0,3)|raw}}.</span> 
								{{ event.name }}
							</h3>
						</a>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-2">
								<div class="row">
									{{  event.start|date('D')}}.
								</div>
								<div class="row">
									<h2>{{ event.start|date('j') }}</h2>
								</div>
								<div class="row">
									<h2>
										{{ event.nbParticipationIn }}
										{% if event.maxPlayers %}
											/{{ event.maxPlayers }}
										{% endif %}
									</h2>
								</div>
							</div>
							<div class="col-lg-10">
								<div class="row">
									<div class="col">
										<b>{{event.start|date('D h:i') }} - {{ event.finish|date('D h:i') }}</b>
									</div>
									<div class="col">
										<div 
                        					id="button_list_participation_participations_{{ loop.index0 }}_value_0" 
                        					class="btn 
                        						{% if participations[loop.index0].value == 0 %}
                            						btn-outline-success
                        						{% else %}
                            						btn-success
                        						{% endif %}"
                        					onclick="changeCheckValue(this)"
                    					>
                        					<span class=""><i class="fas fa-thumbs-up"></i></span>
                        					In
                    					</div>
										<div 
											id="button_list_participation_participations_{{ loop.index0 }}_value_1" 
											class="btn 
												{% if participations[loop.index0].value == 0 and participations[loop.index0].lastUpdate != null %}
													btn-danger
												{% else %}
													btn-outline-danger
												{% endif %}"
											onclick="changeCheckValue(this)"
										>
											<span class=""><i class="fas fa-thumbs-down"></i></span>
											Out
										</div>
										{{ form_widget(form.participations[loop.index0].value, {'attr': {'class': 'form-control sr-only'}}) }}
										{{ form_widget(form.participations[loop.index0].comment, {'attr': {'class': 'sr-only'}}) }}
									</div>
								</div>
								<div class="row">
									<span class=""><i class="fas fa-info"></i></span>
									{{ event.info }}
								</div>
								<div class="row">
									participants
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		{{ form_rest(form) }}

	{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<script src="{{ asset('js/event/changeCheck.js') }}"></script>
	
{% endblock %}