{% extends 'layout.html.twig' %}

{% block title %}indeEvent{% endblock %}

{% block content %}
<div class="jumbotron">
	<h2>Event index</h2>
</div>
	
<div class="row">
	{% for event in events %}
		{% if event.active == true %}
			<div class="card">
				<div class="card-body">
					<p> {{event.id }}</p>
					{#<p><strong>by <em>{{ post.author.username }}</em>, on {{ author.publishDate|date('d/m/Y') }}</strong></p>#}
					<p>{{event.info|slice(0,150)|raw}}</p>
				</div>
				<div class="card-footer">
					<a href="{{ path('event-view', {'slug':event.slug}) }}" class="btn btn-success">view</a>
				</div>
			</div>
		{% endif %}
	{% else %}
		<div>No Events (yet!)</div>
	{% endfor %}
</div>


{% endblock %}
