{% extends 'layout.html.twig' %}

{% block title %}
	{{ event.slug }}
	plannification
{% endblock %}

{% block page_title %}
	<h2>
		<span class="badge badge-{{ event.tag.color }} mr-1">
			{{event.tag.name|slice(0,3)|raw}}.
		</span>
		<a class="text-dark" href="{{ path('event-view', {'slug':event.slug}) }}">
			{{ event.name }}
		</a>
		- Plannification
	</h2>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('plannification') }}
{% endblock %}

{% block content %}

	{#{{ form_start(fieldsForm) }}
				
					<button class="btn btn-lg btn-primary btn-block" type="submit">
						Save Data
					</button>
					<hr>
				
					<table class="table">
						{% for field in event.fields %}
							{% set fieldNumber = loop.index0 %}
							<tr>
								<td class="align-middle">
									<a class="btn btn-danger" href="#">
										<span class="">
											<i class="fas fa-trash-alt"></i>
										</span>
									</a>
								</td>
								<td>
									<div id="positionning">
										<img id="imageFile" class="col-12" src={% if field.image != null %} {{ asset(vich_uploader_asset(field.image, "imageFile")) | imagine_filter('field') }} {% else %} {{ asset('image/default/empty_field.jpg') | imagine_filter('field') }} {% endif %} alt="image {{ field.id }}">
				
										{% for position in field.positions %}
											<div class="card position-card positionned" id="card_event_fields_fields_{{ fieldNumber }}_positions_{{ loop.index0 }}_participation" ondragover="allowDrop(event)" ondragleave="disableDrop(event)" ondrop="drop(event)" style="top:{{ position.vertical }}%; left:{{ position.horizontal }}%; background: url('{{ asset('image/default/no-position.jpg') | imagine_filter('position') }}')">
												{% if position.participation != null %}
													<img id="{{ position.participation.id }}" src="{{ asset(vich_uploader_asset(position.participation.user.profilePic, "imageFile")) | imagine_filter('position') }}" alt="car-img" data-toggle="tooltip" title="{{ position.participation.user.username }}" draggable="true" ondragstart="drag(event)">
												{% endif %}
											</div>
										{% endfor %}
									</div>
									<div id="form-{{ loop.index0 }}" class="sr-only">
										{% for fieldForm in fieldsForm.fields[loop.index0] %}
											{% for positionForm in fieldForm %}
												{{ form_widget(positionForm) }}
											{% endfor %}
										{% endfor %}
									</div>
								</td>
							</tr>
						{% endfor %}
					</table>
				
					{{ form_rest(fieldsForm) }}
				
					{{ form_end(fieldsForm) }}#}

	{{ form_start(templateForm, {'attr': {'data-event-id':event.id}}) }}

	{{ form_errors(templateForm) }}

	<ul class="list-group list-group-flush" id="field-list" data-index="{{ templateForm.fields|length }}" data-prototype="
		{% filter escape('html_attr') %}
			{% include 'form/prototype_field.html.twig' with {'form': templateForm.fields.vars.prototype, index:" __name__"} only %}
		{% endfilter %}
	">
		{% for form in templateForm.fields %}
			<li id="li-field-{{ loop.index0 }}" class="list-group-item">
				{% include 'form/prototype_field.html.twig'  with {'form': form, 'index': loop.index0} only %}
				<div id="img-field-{{ loop.index0 }}" class="positionning col-11 text-center w-100 mt-3">
					<img class="w-100" src="{{ vich_uploader_asset(event.fields[loop.index0].template.image, "imageFile") | imagine_filter('field') }}">
					{% for position in event.fields[loop.index0].template.positions %}
						<div 
							class="card position-card positionned" 
							style="
								top:{{ position.vertical }}%; 
								left:{{ position.horizontal }}%; 
								background: url('{{ asset('image/default/no-position.jpg') | imagine_filter('position') }}')
							"
						>
						</div>
					{% endfor %}
				</div>
			</li>
		{% endfor %}
	</ul>
	<div>
		<a id="add-field" class="text-primary" data-group="field-list">
			<span class="fa fa-plus mr-1"/>
			Add a new field
		</a>

		<img id="loading-add" class="loader float-right" src="{{ asset('image/default/loading.svg') }}" alt="loading">
	</div>

	{{ form_rest(templateForm) }}

	{{ form_end(templateForm) }}

	{{ dump(templateForm) }}
{% endblock %}
{% block aside %}
	<div class="card">
		<div class="card-header">
			<p class="card-title">
				<span class="fas fa-couch mr-1"/>
				bench
			</p>
		</div>
		<div id="dropback" class="card-body" ondragover="allowDrop(event)" ondragleave="disableDrop(event)" ondrop="dropBack(event)">
			{% for participation in event.participations %}
				{% if (participation.value == true) and (participation.position == null) %}
					<img class="position-card" id="{{ participation.id }}" src="{{ asset(vich_uploader_asset(participation.user.profilePic, "imageFile")) | imagine_filter('position') }}" alt="car-img" data-toggle="tooltip" title="{{ participation.user.username }}" draggable="true" ondragstart="drag(event)">
				{% endif %}
			{% endfor %}
		</div>
	</div>

{% endblock %}


{% block chat %}
	{# no chat in this area #}
{% endblock %}

{% block javascripts %}

	<script type="text/javascript">
		var ghostUrl = "{{ asset('image/default/no-position.jpg') | imagine_filter('position') }}";	
	</script>

	{{ parent() }}

	{{ encore_entry_script_tags('plannification') }}
{% endblock %}
