{% extends 'layout.html.twig' %}

{% block title %}
	{{ event.slug }}
	plannification
{% endblock %}

{% block page_title %}
	<h2>
		<span class="badge badge-{{ event.tag.color }} mr-1">
			{{event.tag.name|slice(0,3)|raw}}.
		</span>
		<a class="text-dark" href="{{ path('event-view', {'slug':event.slug}) }}">
			{{ event.name }}
		</a>
		- Plannification
	</h2>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('plannification') }}
{% endblock %}

{% block content %}

	{{ form_start(templateForm, {'attr': {'data-event-id':event.id}}) }}

	{{ form_errors(templateForm) }}

	<ul class="list-group list-group-flush" id="field-list" data-index="{{ templateForm.fields|length }}" data-prototype="
		{% filter escape('html_attr') %}
			{% include 'form/prototype_field.html.twig' with {'form': templateForm.fields.vars.prototype, index:" __name__"} only %}
		{% endfilter %}
	">
		{% for form in templateForm.fields %}
			<li id="li-field-{{ loop.index0 }}" class="list-group-item">
				{% include 'form/prototype_field.html.twig'  with {'form': form, 'index': loop.index0} only %}
				<div id="img-field-{{ loop.index0 }}" class="positionning col-11 text-center w-100 mt-3">
					<img class="w-100" src="{{ vich_uploader_asset(event.fields[loop.index0].template.image, "imageFile") | imagine_filter('field') }}">
					{% set field = event.fields[loop.index0] %}
					{% for position in field.template.positions %}
						<div 
							class="card position-card positionned  dropdown"
							data-position-id="{{ position.id }}"
							data-field-id="{{ field.id }}" 
							style="
								top:{{ position.vertical }}%; 
								left:{{ position.horizontal }}%; 
								background: url('{{ asset('image/default/no-position.jpg') | imagine_filter('position') }}')
							"
						>
							{% for participation in event.participationsIn %}
								{% if participation.field == field and participation.position == position %}
									<img 
										class="position-card draggable" 
										id="{{ participation.id }}" 
										data-participation-id="{{ loop.index0 }}"
										src="{{ asset(vich_uploader_asset(participation.player.user.profilePic, "imageFile")) | imagine_filter('position') }}" 
										data-toggle="tooltip" 
										title="{{ participation.player.user.username }}"
									>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</li>
		{% endfor %}
	</ul>
	<div class="mt-3">
		<a id="add-field" class="text-primary" data-group="field-list">
			<span class="fa fa-plus mr-1"/>
			Add a new field
		</a>

		<img id="loading-add" class="loader float-right" src="{{ asset('image/default/loading.svg') }}" alt="loading">
	</div>

	{{ form_rest(templateForm) }}

	{{ form_end(templateForm) }}

	{{ form(fieldsForm, {'attr': { 'data-event-id': event.id, 'class':'d-none' }}) }}

{% endblock %}
{% block aside %}
	<div class="card">
		<div class="card-header">
			<p class="card-title">
				<span class="fas fa-couch mr-1"/>
				bench
			</p>
		</div>
		<div 
			id="dropback" 
			class="card-body dropdown"
			data-field-id=""
			data-position-id=""
		>
			{% for participation in event.participationsIn %}
				{% if (participation.position == null) %}
					<img 
						class="position-card draggable" 
						id="{{ participation.id }}" 
						data-participation-id="{{ loop.index0 }}"
						src="{{ asset(vich_uploader_asset(participation.player.user.profilePic, "imageFile")) | imagine_filter('position') }}" 
						data-toggle="tooltip" 
						title="{{ participation.player.user.username }}"
					>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	{# TODO round the corner of the pictures to fit perfectly the ghosts #}

{% endblock %}


{% block chat %}
	{# no chat in this area #}
{% endblock %}

{% block javascripts %}

	<script type="text/javascript">
		var ghostUrl = "{{ asset('image/default/no-position.jpg') | imagine_filter('position') }}";	
	</script>

	{{ parent() }}

	{{ encore_entry_script_tags('plannification') }}
{% endblock %}
