{% extends 'layout.html.twig' %}

{% block title %}view results
{% endblock %}

{% block page_title %}
	<h1>
		<span class="badge badge-{{ event.tag.color }}">{{event.tag.name|slice(0,3)|raw}}.</span>
		{{ event.name }}
		- Results
	</h1>
{% endblock %}

{% block content %}

	{# the score to display #}
	<div class="card shadow mb-2" id="score">
		<div class="card-body">
			{% if result.score  %}
				<h3 class="text-center">
					<span style="margin-right:2em">{{ club_name }}</span>
					<span>{{ result.score.our }}
						-
						{{ result.score.their }}</span>
					<span style="margin-left:2em">{{ result.score.opponent }}</span>
					<span style="margin-left:2em">
						<i class="fas fa-{{ (result.score.win)?'trophy':'sad-tear' }}"></i>
					</span>
				</h3>
			{% else %}
				No score for now !
			{% endif %}
		</div>
	</div>

	{# the files that represent the result #}
	<div class="card shadow mb-2" id="result-file">
		<div class="card-header">
			<h4>Result files</h4>
		</div>
		<div class="card-body">
			{% if result.files %}
				toto
			{% else %}
				No result filesfor now !
			{% endif %}
		</div>
	</div>

	{# my personnal results #}
	<div class="card shadow mb-2" id="personnal-result">
		<div class="card-header">
			<h4>My personnal results</h4>
		</div>
		<div class="card-body">
			{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

			<button typ="submit" name="stat-add" class=" btn btn-block btn-primary">
				submit
			</button>

			{{ form_errors(form) }}
			<table 
				id="table-stat"
				class="table" 
				data-index="{{ form.stats|length }}"
				data-prototype="
            		{% filter escape('html_attr') %}
                		{% include 'form/prototype_stat.html.twig' with {'form': form.stats.vars.prototype, 'index':'__name__'} only %}
					{% endfilter %}
				"
			>
				<tr>
					<th>name</th>
					<th>timer</th>
					<th>value</th>
					<th>action</th>
				</tr>
				{% for stat in form.stats %}
					{% include 'form/prototype_stat.html.twig'  with {'form': stat, 'index':loop.index0} only %}
				{% endfor %}
			</table>


			<a 
				id="add-stat"
				href="#" 
				class="text-primary"
				data-group="table-stat">
				<span class="fa fa-plus mr-1"/>
				Add another stat 
			</a>

			{{ form_rest(form)}}

			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('event-view') }}
{% endblock %}
