{% extends 'layout.html.twig' %}

{% block title %}{{ event.slug }}{% endblock %}

{% block content %}

    <div class="jumbotron bg-primary-light">
        <h2><span class="badge badge-primary">{{event.tag.name|slice(0,3)|raw}}.</span>{{ event.name }}</h2>
    </div>

    <div class="card row">
        <div class="card-body">
            <p>
                <span><i class="fas fa-calendar"></i></span> 
                {{ event.start|date('d/m/Y h:i:s') }}
            </p>
            <p>
                <span class=""><i class="fas fa-location-arrow"></i></span>
                {{ event.location.fullAdr }}
                <a style="margin-left: 15px" href="#map">map</a>
            </p>
            <p>
                <span class=""><i class="fas fa-info"></i></span>
                {{  event.info }}
            </p>
            <p>
                <a href="#">prepare the match plan</a>
            </p>
        </div>
    </div>        
    
    <div class="card row">
        <div class="card-body">
            <h2 class="card-title">My Participation</h2>

            {{ form_start(myFormInOut) }}
                
                {{ form_errors(myFormInOut) }} 

                <div class="form-group row">
                    <div 
                        id="button_participation_value_0" 
                        class="btn 
                        {% if myParticipation.value == 0 %}
                            btn-outline-success
                        {% else %}
                            btn-success
                        {% endif %}"
                        onclick="changeCheckValue(this)"
                    >
                        <span class=""><i class="fas fa-thumbs-up"></i></span>
                        In
                    </div>
                    <div 
                        id="button_participation_value_1" 
                        class="btn 
                        {% if myParticipation.value == 0 and myParticipation.lastUpdate != null %}
                            btn-danger
                        {% else %}
                            btn-outline-danger
                        {% endif %}"
                        onclick="changeCheckValue(this)"
                    >
                        <span class=""><i class="fas fa-thumbs-down"></i></span>
                        Out
                    </div>
                    {{ form_widget(myFormInOut.value, {'attr': {'class': 'form-check-inline sr-only'}}) }}
                    {{ form_widget(myFormInOut.comment, {'attr': {'class': 'form-control col-7'}}) }}
                    <button type="submit" name="particpation-update" class="btn btn-secondary">comment</button>
                </div>

                {{ form_rest(myFormInOut) }}

            {{ form_end(myFormInOut) }}    
        </div>
    </div>

    <hr/>

    {{ form_start(formsInOut) }}

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="drag-tab" data-toggle="tab" href="#drag" role="tab" aria-controls="drag" aria-selected="true">drag N Drop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List of players</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <button type="submit" name="listParticpation-update" class="btn btn-block btn-success">save changes</button>
            <hr/>
            <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">        

                {{ form_errors(formsInOut) }}

                <table class="table">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>In/Out</th>
                            <th>Comment</th>
                            <th><span class=""><i class="fas fa-clock"></i></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formInOut in formsInOut.participations %}
                            <tr>
                                <td>{{participations[loop.index0].user.username }}</td>
                                <td>
                                    <div 
                                        id="button_list_participation_participations_{{ loop.index0 }}_value_0" 
                                        class="btn 
                                            {% if participations[loop.index0].value == 0 %}
                                                btn-outline-success
                                            {% else %}
                                                btn-success
                                            {% endif %}"
                                        onclick="changeCheckValue(this)"
                                    >
                                        <span class=""><i class="fas fa-thumbs-up"></i></span>
                                    </div>
                                    <div 
                                        id="button_list_participation_participations_{{ loop.index0 }}_value_1" 
                                        class="btn 
                                            {% if participations[loop.index0].value == 0 and participations[loop.index0].lastUpdate != null %}
                                                btn-danger
                                            {% else %}
                                                btn-outline-danger
                                            {% endif %}"
                                        onclick="changeCheckValue(this)"
                                    >
                                        <span class=""><i class="fas fa-thumbs-down"></i></span>
                                    </div>
                                    {{ form_widget(formInOut.value, {'attr': {'class': 'form-chek-inline sr-only'}}) }}
                                    
                                </td>
                                {% if participations[loop.index0].user == app.user %}
                                    <td>{{ form_widget(formInOut.comment, {'attr': {'class': 'form-control'}}) }}</td> 
                                {% else %}
                                    <td>{{ form_widget(formInOut.comment, {'attr': {'class': 'form-control','readonly': 'true'}}) }}</td>
                                {% endif %}
                                <td>
                                    {% if participations[loop.index0].lastUpdate %} 
                                        {{participations[loop.index0].lastUpdate|date('d.m') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                {{ form_rest(formsInOut) }}

            </div>
            
            <div class="tab-pane fade show active" id="drag" role="tabpanel" aria-labelledby="drag-tab">
                <div class="alert alert-success">
                    <h3 class="col-12">Of course I can come !</h3>
                    <div id="drag-0" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <span><i class="fas fa-thumbs-up"></i></span>
                        {% for participation in participations %}
                            {% if participation.value == 1 %}
                                <span id="{{ loop.index0 }}-drag-element" draggable="true" ondragstart="drag(event)" class="badge badge-secondary">{{ participation.user.username }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="alert alert-danger">
                    <h3 class="col-12">Sorry but not this time !</h3>
                    <div id="drag-1" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <span><i class="fas fa-thumbs-down"></i></span>
                        {% for participation in participations %}
                            {% if participation.value == 0  and participation.lastUpdate != null %}
                                <span id="{{ loop.index0 }}-drag-element" draggable="true" ondragstart="drag(event)" class="badge badge-secondary">{{ participation.user.username }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="alert alert-light">
                    <h3 class="col-12">Not decided yet !</h3>
                    <div id="drag-2">
                        <span><i class="fas fa-question-circle"></i></span>
                        {% for participation in participations %}
                            {% if participation.lastUpdate == null %}
                            <span id="{{ loop.index0 }}-drag-element" draggable="true" ondragstart="drag(event)" class="badge badge-secondary">{{ participation.user.username }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {{ form_end(formsInOut) }}

    <div class="card row">
        <div class="card-body">
            <div id="map"></div>
        </div>
    </div>

{% endblock %}

{% block aside %}
	<div class="card">
		<div class="card-header">
			<p class="card-title"><span class="fas fa-filter"/>Other events</p>
		</div>
		<div class="card-body">
			{{ render(controller('App\\Controller\\AsideController::event', {'slug': event.slug})) }}
            <p><a href="{{ path('event-index', {}) }}">All other events</a></p>
		</div>
        
	</div>
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var lat = {{ event.location.lat }};
        var lng = {{ event.location.lng }};
    </script>

    <script type="text/javascript">
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));

            var participationNumber = data.replace("-drag-element", "");
            var value = ev.target.id.replace("drag-", "");
            document.getElementById("list_participation_participations_"+participationNumber+"_value_"+value).checked = true;
        }
    </script>

    <script src="{{ asset('js/event/changeCheck.js') }}"></script>
	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script src="{{ asset('js/event/leaferMap.js') }}"></script>
{% endblock %}
