{% extends 'layout.html.twig' %}

{% block title %}
	{{ event.slug }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('event-view') }}
{% endblock %}

{% block page_title %}
	<h1>
		<span class="badge badge-{{ event.tag.color }}">{{event.tag.name|slice(0,3)|raw}}.</span>
		{{ event.name }}</h1>
{% endblock %}

{% block content %}

	<div class="card">
		<div class="card-body">
			<p>
				<span class="fas fa-calendar mr-1"/>
				{{ event.start|localizeddate('short', 'short') }}
			</p>
			<p>
				<span class="fas fa-location-arrow mr-1"/>
				{{ event.location.value }}
				<a class="ml-3" href="#map">
					<span class="text-default mr-1">
						{{ 'event.view.map'|trans }}
					</span>
					<span class="fa fa-arrow-right"/>
				</a>
				<input class="sr-only" id="event_location_lat" value="{{ event.location.lat }}"/>
				<input class="sr-only" id="event_location_lng" value="{{ event.location.lng }}"/>
			</p>
			<p>
				<span class="fas fa-info"/>
				<span class="ml-1">
					{{  event.info }}
				</span>
			</p>
			<p>
				<a href="{{ path('event-plannification', {'slug':event.slug}) }}" class="btn btn-sm btn-primary">
					{{ 'event.view.plan'|trans }}
				</a>
				<a href="{{ path('result-view', {'slug':event.slug}) }}" class="btn btn-sm btn-primary">
					{{ 'event.view.results'|trans }}
				</a>
			</p>

			<hr>

			<h2 class="card-title">
				{{ 'event.view.my-participation'|trans }}
			</h2>

			{# TODO make the automatic check work (ajax is already functionnal) #}
			<div class="form-inline" id="myForm" data-user-index="{{ userIndex }}">
				<label class="custom-radio">
					<input class="my-participation" name="my-participation" value="0" {{(myParticipation.value == 0 and myParticipation.lastUpdate)?"checked" }}>
					<button type="button" class="uncheck btn btn-outline-danger m-1">
						<span class="fa fa-thumbs-down mr-1"/>
						{{ 'event.participation.out'|trans }}
					</button>
					<button type="button" class="check btn btn-danger m-1">
						<span class="fa fa-thumbs-down mr-1"/>
						{{ 'event.participation.out'|trans }}
					</button>
				</label>

				<label class="custom-radio">
					<input class="my-participation" name="my-participation" type="radio" value="1" {{ (myParticipation.value == 1)?"checked" }}>
					<button type="button" class="uncheck btn btn-outline-success m-1">
						<span class="fa fa-thumbs-up mr-1"/>
						{{ 'event.participation.in'|trans }}
					</button>
					<button type="button" class="check btn btn-success m-1">
						<span class="fa fa-thumbs-up mr-1"/>
						{{ 'event.participation.in'|trans }}
					</button>
				</label>

				<input type="text" id="myComment" maxlength="255" class="form-control col-7" value="{{ myParticipation.comment }}">

				<button type="button" id="myParticipation-button" class="btn btn-secondary ml-1">
					{{ 'event.view.comment'|trans }}
				</button>
			</div>


		</div>
	</div>

	<hr>

	{{ form_start(formsInOut, { 'attr': {'data-slug':event.slug}}) }}

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="drag-tab" data-toggle="tab" href="#drag" role="tab" aria-controls="drag" aria-selected="true">
				{{ 'event.view.drag-n-drop.title'|trans }}
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
				{{ 'event.view.list.title'|trans }}
			</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<button type="submit" name="listParticpation-update" class="btn btn-block btn-success">
			{{ 'event.view.save'|trans }}
		</button>
		<img id="loading" class="loader float-right" src="{{ asset('image/default/loading.svg') }}" alt="loading">

		<hr>

		<div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">

			{{ form_errors(formsInOut) }}

			<table class="table">
				<thead>
					<tr>
						<th>{{ 'event.view.list.name'|trans }}</th>
						<th>{{ 'event.view.list.inOut'|trans }}</th>
						<th>{{ 'event.view.list.comment'|trans }}</th>
						<th>
							<span class="fas fa-clock"/>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for formInOut in formsInOut.participations %}
						<tr>
							<td id="username-{{loop.index0}}">
								{{participations[loop.index0].player.user.username }}
							</td>
							<td id="value-{{loop.index0}}">
								{{ form_widget(formInOut.value, {'index':-1, 'username':participations[loop.index0].player.user.username}) }}
							</td>
							<td id="comment-{{loop.index0}}">
								{{ form_widget(formInOut.comment, {'attr': {'class': 'form-control','readonly': (participations[loop.index0].player.user != app.user)}}) }}
							</td>
							<td id="update-{{loop.index0}}">
								{% if participations[loop.index0].lastUpdate %}
									{{ participations[loop.index0].lastUpdate|localizeddate('short', 'none') }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{{ form_rest(formsInOut) }}

		</div>

		<div class="tab-pane fade show active" id="drag" role="tabpanel" aria-labelledby="drag-tab">

			<div class="alert alert-success" data-color="success">
				<h3 class="col-12">
					<span class="fas fa-thumbs-up mr-1"/>
					{{ 'event.view.drag-n-drop.in'|trans }}
				</h3>
				<div id="drag-0" data-value="1" class="dropdown pt-5">
					{% for participation in participations %}
						{% if participation.value %}
							<span id="{{ loop.index0 }}-drag-element" data-user-index="{{ loop.index0 }}" class="badge badge-pill badge-light border draggable">
								{{ participation.player.user.username }}
							</span>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="alert alert-danger" data-color="danger">
				<h3 class="col-12">
					<span class="fas fa-thumbs-down mr-1"/>
					{{ 'event.view.drag-n-drop.out'|trans }}
				</h3>
				<div id="drag-1" data-value="0" class="dropdown pt-5">
					{% for participation in participations %}
						{% if  not participation.value and participation.lastUpdate %}
							<span id="{{ loop.index0 }}-drag-element" data-user-index="{{ loop.index0 }}" class="badge badge-pill badge-light border draggable">
								{{ participation.player.user.username }}
							</span>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="alert alert-light">
				<h3 class="col-12">
					<span class="fas fa-question-circle mr-1"/>
					{{ 'event.view.drag-n-drop.null'|trans }}
				</h3>
				<div id="drag-2">
					{% for participation in participations %}
						{% if not participation.lastUpdate %}
							<span id="{{ loop.index0 }}-drag-element" data-user-index="{{ loop.index0 }}" class="badge badge-pill badge-light border draggable">
								{{ participation.player.user.username }}
							</span>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{{ form_end(formsInOut) }}

	<div class="card">
		<div class="card-body">
			<div id="map"></div>
		</div>
	</div>
{% endblock %}

{% block aside %}
	<div class="card shadow">
		<div class="card-header">
			<p class="card-title">
				<span class="fas fa-filter mr-1"/>
				{{ 'event.view.other-event.title'|trans }}
			</p>
		</div>
		<div class="card-body">
			{{ render(controller('App\\Controller\\AsideController::event', {'slug': event.slug})) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}

	<script type="text/javascript">
		var lat = document.getElementById('event_location_lat');
		var lng = document.getElementById('event_location_lng');
	</script>

	{{ parent() }}

	{{ encore_entry_script_tags('event-view') }}
{% endblock %}
