{% extends 'base.html.twig' %}

{% block title %}{{ event.slug }}{% endblock %}

{% block body %}
<div> {{ event.slug }}</div>

<a class="btn btn-success" href={{ path('event-activate', {'slug': event.slug}) }}>activate</a>
<a class="btn btn-primary" href={{ path('event-deactivate', {'slug': event.slug}) }}>deactivate</a>
<a class="btn btn-danger" href={{ path('event-delete', {'slug': event.slug}) }}>delete</a>

{{dump()}}

{% endblock %}
