{% extends (app.token.providerKey == 'admin') ? 'admin.layout.html.twig': 'layout.html.twig' %}

{% block title %}
	{{ event.slug }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('event-view') }}
{% endblock %}

{% block page_title %}
	<h1>
		<span class="badge badge-{{ event.tag.color }}">{{event.tag.name|slice(0,3)|raw}}.</span>
		{{ event.name }}</h1>
{% endblock %}

{% block content %}

	<div class="card">
		<div class="card-body">
			<p>
				<span class="fas fa-calendar mr-1"/>
				{{ event.start|date('d/m/Y h:i:s') }}
			</p>
			<p>
				<span class="fas fa-location-arrow mr-1"/>
				{{ event.location.value }}
				<a class="ml-3" href="#map">
					<span class="text-default mr-1">
						Go to map
					</span>
					<span class="fa fa-arrow-right"/>
				</a>
				<input class="sr-only" id="event_location_lat" value="{{ event.location.lat }}"/>
				<input class="sr-only" id="event_location_lng" value="{{ event.location.lng }}"/>
			</p>
			<p>
				<span class="fas fa-info"/>
				<span class="ml-1">
					{{  event.info }}
				</span>
			</p>
			<p>
				<a href="{{ path('event-plannification', {'slug':event.slug}) }}" class="btn btn-sm btn-primary">
					Prepare the match plan
				</a>
				<a href="{{ path('result-view', {'slug':event.slug}) }}" class="btn btn-sm btn-primary">
					See results
				</a>
			</p>

			<hr>

			<h2 class="card-title">My Participation</h2>

			<div class="form-inline" id="myForm" data-user-index="{{ userIndex }}">
				<label class="custom-radio">
					<input type="radio" id="" name="" value="0" {{(myParticipation.value == 0 and myParticipation.lastUpdate)?"checked" }}>
					<button type="button" class="uncheck btn btn-outline-danger m-1">
						<span class="fa fa-thumbs-down mr-1"/>
						out
					</button>
					<button type="button" class="check btn btn-danger m-1">
						<span class="fa fa-thumbs-down mr-1"/>
						out
					</button>
				</label>

				<label class="custom-radio">
					<input type="radio" id="" name="" value="1" {{ (myParticipation.value == 1)?"checked" }}>
					<button type="button" class="uncheck btn btn-outline-success m-1">
						<span class="fa fa-thumbs-up mr-1"/>
						in
					</button>
					<button type="button" class="check btn btn-success m-1">
						<span class="fa fa-thumbs-up mr-1"/>
						in
					</button>
				</label>

				<input type="text" id="myComment" maxlength="255" class="form-control col-7" value="{{ myParticipation.comment }}">

				<button type="button" id="myParticipation-button" class="btn btn-secondary ml-1">
					comment
				</button>
			</div>


		</div>
	</div>

	<hr>

	{{ form_start(formsInOut, { 'attr': {'data-slug':event.slug}}) }}

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="drag-tab" data-toggle="tab" href="#drag" role="tab" aria-controls="drag" aria-selected="true">
				drag N Drop
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
				List of players
			</a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<button type="submit" name="listParticpation-update" class="btn btn-block btn-success">
			save changes
		</button>
        <img id="loading" class="loader float-right" src="{{ asset('image/default/loading.svg') }}" alt="loading">

		<hr>

		<div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">

			{{ form_errors(formsInOut) }}

			<table class="table">
				<thead>
					<tr>
						<th>name</th>
						<th>In/Out</th>
						<th>Comment</th>
						<th>
							<span class="fas fa-clock"/>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for formInOut in formsInOut.participations %}
						<tr>
							<td id="username-{{loop.index0}}">
								{{participations[loop.index0].user.username }}
							</td>
							<td id="value-{{loop.index0}}">
								{{ form_widget(formInOut.value, {'index':-1, 'username':participations[loop.index0].user.username}) }}
							</td>
							<td id="comment-{{loop.index0}}">
								{{ form_widget(formInOut.comment, {'attr': {'class': 'form-control','readonly': (participations[loop.index0].user != app.user)}}) }}
							</td>
							<td id="update-{{loop.index0}}">
								{% if participations[loop.index0].lastUpdate %}
									{{participations[loop.index0].lastUpdate|date('d.m') }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{{ form_rest(formsInOut) }}

		</div>

		<div class="tab-pane fade show active" id="drag" role="tabpanel" aria-labelledby="drag-tab">

			<div class="alert alert-success" data-color="success">
				<h3 class="col-12">
					<span class="fas fa-thumbs-up mr-1"/>
					Of course I can come !
				</h3>
				<div id="drag-0" data-value="1" class="dropdown pt-5">
					{% for participation in participations %}
						{% if participation.value %}
							<span id="{{ loop.index0 }}-drag-element" data-user-index="{{ loop.index0 }}" class="badge badge-pill badge-light border draggable">
								{{ participation.user.username }}
							</span>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="alert alert-danger" data-color="danger">
				<h3 class="col-12">
					<span class="fas fa-thumbs-down mr-1"/>
					Sorry but not this time !
				</h3>
				<div id="drag-1" data-value="0" class="dropdown pt-5">
					{% for participation in participations %}
						{% if  not participation.value and participation.lastUpdate %}
							<span id="{{ loop.index0 }}-drag-element" data-user-index="{{ loop.index0 }}" class="badge badge-pill badge-light border draggable">
								{{ participation.user.username }}
							</span>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="alert alert-light">
				<h3 class="col-12">
					<span class="fas fa-question-circle mr-1"/>
					Not decided yet !
				</h3>
				<div id="drag-2">
					{% for participation in participations %}
						{% if not participation.lastUpdate %}
							<span id="{{ loop.index0 }}-drag-element" data-user-index="{{ loop.index0 }}" class="badge badge-pill badge-light border draggable">
								{{ participation.user.username }}
							</span>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{{ form_end(formsInOut) }}<div class="card">
		<div class="card-body">
			<div id="map"></div>
		</div>
	</div>
{% endblock %}
{% block aside %}
	<div class="card shadow">
		<div class="card-header">
			<p class="card-title">
				<span class="fas fa-filter mr-1"/>
				Other events
			</p>
		</div>
		<div class="card-body">
			{{ render(controller('App\\Controller\\AsideController::event', {'slug': event.slug})) }}
			<p>
				<a href="{{ path('event-index', {}) }}">All other events</a>
			</p>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var lat = document.getElementById('event_location_lat');
var lng = document.getElementById('event_location_lng');
	</script>
	{{ parent() }}
	{{ encore_entry_script_tags('event-view') }}
{% endblock %}
