{% extends 'layout.html.twig' %}

{% block title %}{{ event.slug }}{% endblock %}

{% block content %}

    <div class="jumbotron bg-primary-light">
        <h2><span class="badge badge-primary">{{event.tag.name|slice(0,3)|raw}}.</span>{{ event.name }}</h2>
    </div>

    <div class="card row">
        <div class="card-body">
            <p>
                <span><i class="fas fa-calendar"></i></span> 
                {{ event.start|date('d/m/Y h:i:s') }}
            </p>
            <p>
                <span class=""><i class="fas fa-location-arrow"></i></span>
                {{ event.location.fullAdr }}
                <a style="margin-left: 15px" href="#map">map</a>
            </p>
            <p>
                <span class=""><i class="fas fa-info"></i></span>
                {{  event.info }}
            </p>
        </div>
    </div>

    <div class="card row">
        <div class="card-body">
            <h2 class="card-title">My Participation</h2>

            {{ form_start(myFormInOut) }}
                
                {{ form_errors(myFormInOut) }} 

                <div class="form-group row">
                    {{ form_widget(myFormInOut.value, {'attr': {'class': 'form-check-inline'}}) }}
                    {{ form_widget(myFormInOut.comment, {'attr': {'class': 'form-control col-7'}}) }}
                    <button type="submit" name="particpation-update" class="btn btn-sucess">comment</button>
                </div>

                {{ form_rest(myFormInOut) }}

            {{ form_end(myFormInOut) }}    
        </div>
    </div>

    <hr/>

    {{ form_start(formsInOut) }}

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <button type="submit" name="listParticpation-update" class="btn btn-block btn-success">save changes</button>
            <hr/>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">        

                {{ form_errors(formsInOut) }}

                <table class="table">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>
                                <div class="row">
                                    <div class="col-6">
                                        <span class=""><i class="fas fa-thumbs-up"></i></span> 
                                    </div>
                                    <div class="col-6">
                                        <span class=""><i class="fas fa-thumbs-down"></i></span>
                                    </div>
                                </div>
                            </th>
                            <th>Comment</th>
                            <th><span class=""><i class="fas fa-clock"></i></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formInOut in formsInOut.participations %}
                            <tr>
                                <td>{{participations[loop.index0].user.username }}</td>
                                <td>{{ form_widget(formInOut.value, {'attr': {'class': 'form-chek-inline'}}) }}</td>
                                {% if participations[loop.index0].user == app.user %}
                                    <td>{{ form_widget(formInOut.comment, {'attr': {'class': 'form-control'}}) }}</td> 
                                {% else %}
                                    <td>{{ form_widget(formInOut.comment, {'attr': {'class': 'form-control','readonly': 'true'}}) }}</td>
                                {% endif %}
                                <td>
                                    {% if participations[loop.index0].lastUpdate %} 
                                        {{participations[loop.index0].lastUpdate|date('d.m') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                {{ form_rest(formsInOut) }}

            </div>
            
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="alert alert-success" ondrop="drop(event)" ondragover="allowDrop(event)" role="alert">
                    <h3 class="col-12">Of course I can come !<h3>
                    {% for participation in participations %}
                        {% if participation.value == 1 %}
                           <span id="{{ participation.user.username }}-participation" draggable="true" ondragstart="drag(event)" class="badge badge-secondary">{{ participation.user.username }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="alert alert-danger" ondrop="drop(event)" ondragover="allowDrop(event)" role="alert">
                    <h3 class="col-12">Sorry but not this time !</h3>
                    {% for participation in participations %}
                        {% if participation.value == 0 %}
                           <span id="{{ participation.user.username }}-participation" draggable="true" ondragstart="drag(event)" class="badge badge-secondary">{{ participation.user.username }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="alert alert-light" ondrop="drop(event)" ondragover="allowDrop(event)" role="alert">
                    <h3 class="col-12">Not decided yet !</h3>
                    {% for participation in participations %}
                        {% if participation.value == 2 %}
                           <span id="{{ participation.user.username }}-participation" draggable="true" ondragstart="drag(event)" class="badge badge-secondary">{{ participation.user.username }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    {{ form_end(formsInOut) }}

    <div class="card row">
        <div class="card-body">
            <div id="map"></div>
        </div>
    </div>

    


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <<script type="text/javascript">
        var lat = {{ event.location.lat }};
        var lng = {{ event.location.lng }};
    </script>

    <script type="text/javascript">
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>

	 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script src="{{ asset('js/event/datepicker.js') }}"></script>
    <script src="{{ asset('js/event/leaferMap.js') }}"></script>
{% endblock %}
