{% extends 'login.html.twig' %}
 
{% block title %}
    {{ 'security.forgotten.title'|trans }}
{% endblock %}

{% block body %}
    <form method="post" class="form">
 
        <h2 class="form-heading">
        {{ 'security.forgotten.title'|trans }}
        </h2>
        <div class="form-group">
            <label for="inputEmail" class="sr-only">
            {{ 'security.login.email'|trans }}
            </label>
            <input class="form-control" type="email" name="email" id="inputEmail" placeholder="{{ 'security.login.email'|trans }}" required autofocus>
        </div> 
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        {{ 'security.forgotten.submit'|trans }}
        </button>
 
    </form>
{% endblock %}