{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('css/security/form.css') }}" type="text/css"/>

<style type="text/css">
body {
    background: transparent url('{{ asset('picture/default/login.jpg') }}')  no-repeat center fixed;
    background-size: cover;
}
</style>
{% endblock %}


{% block body %}

<form method="post" class="form">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h2 class="form-heading"> Please sign in</h2>
    <div class="form-group">
        <label class="sr-only" for="inputUsername">Username</label>
        <input class="form-control" type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputPassword" >Password</label>
        <input class="form-control" type="password" name="password" id="inputPassword"  placeholder="Password" required>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="control-label">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign in </button>

    <div>
        <a href="{{path('register') }}">Not registered yet !</a>
    </div>

    <div>
        <a href="{{ path('forgotten_password') }}"> forgotten password</a>
    </div>
</form>

{% endblock %}
