{% extends 'login.html.twig' %}

{% block title %}
	{{ 'security.login.title'|trans }}
{% endblock %}

{% block body %}
	<div id="form" class="col-4">
		<form method="post" class="form">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h2 class="form-heading">
				{{ 'security.login.sign-in'|trans }}
			</h2>
			<div class="form-group">
				<label class="sr-only" for="inputUsername">
					{{ 'security.login.username'|trans }}
				</label>
				<input class="form-control" type="text" name="username" id="inputUsername" placeholder="{{ 'security.login.username'|trans }}" required autofocus>
			</div>
			<div class="form-group">
				<label class="sr-only" for="inputPassword">
					{{ 'security.login.password'|trans }}
				</label>
				<input class="form-control" type="password" name="password" id="inputPassword" placeholder="{{ 'security.login.password'|trans }}" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="control-label">
				<label>
					<input type="checkbox" name="_remember_me">
					{{ 'security.login.remember-me'|trans }}
				</label>
			</div>

			<button class="btn btn-lg btn-primary btn-block" type="submit">
				{{ 'security.login.submit'|trans }}
			</button>

			<div class="text-center">
				<a class="text-center small" href="{{path('register') }}">
					{{ 'security.login.not-registered'|trans }}
				</a>
			</div>

			<div class="text-center">
				<a class="small" href="{{ path('forgotten_password') }}">
					{{ 'security.login.forgotten'|trans }}
				</a>
			</div>
		</form>
		<hr>

		{# TODO make it functionnal  Oauth#}
		<button id="facebook" class="btn btn-block button">
			<span class="fab fa-facebook-f mr-1"/>
			{{ 'security.login.log-with'|trans({'%name%': 'Facebook'}) }}
			login with Facebook
		</button>
		<div id="google" class="btn btn-block button">
			<span class="fab fa-google mr-1"/>
			{{ 'security.login.log-with'|trans({'%name%': 'Google'}) }}
		</div>
	</div>

{% endblock %}
