{% extends 'login.html.twig' %}

{% block title %}
	{{ 'security.register.title'|trans }}
{% endblock %}

{% block body %}

	<form method="post" class="form">

		<h2 class="form-heading">
			{{ 'security.register.register'|trans }}
		</h2>
		<div class="form-group">
			<label class="sr-only" for="inputUsername">
				{{ 'security.login.username'|trans }}
			</label>
			<input class="form-control" type="text" name="username" id="inputUsername" placeholder="{{ 'security.login.username'|trans }}" required autofocus>
		</div>
		<div class="form-group">
			<label class="sr-only" for="inputEmail">
				{{ 'security.login.email'|trans }}
			</label>
			<input class="form-control" type="email" name="email" id="inputemail" placeholder="{{ 'security.login.email'|trans }}" required>
		</div>
		<div class="form-group">
			<label class="sr-only" for="inputPassword">
				{{ 'security.login.password'|trans }}
			</label>
			<input class="form-control" type="password" name="password" id="inputPassword" placeholder="{{ 'security.login.password'|trans }}" required>
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			{{ 'security.register.submit'|trans }}
		</button>

		<div>
			<a href="{{path('login') }}">
				{{ 'security.register.already-register'|trans }}
			</a>
		</div>

	</form>
{% endblock %}
