{% extends 'login.html.twig' %}

{% block title %}
	{{ 'security.reset.title'|trans }}
{% endblock %}

{% block body %}
	<form method="post" class="form">

		<h2 class="form-heading">
			{{ 'security.reset.title'|trans }}
		</h2>
		<div class="form-group">
			<label class="sr-only" for="inputPassword">
				{{ 'security.login.password'|trans }}
			</label>
			<input class="form-control" type="password" name="password" id="inputPassword" placeholder="{{ 'security.login.password'|trans }}" required>
		</div>
		<div class="form-group">
			<label class="sr-only" for="inputSecondPassword">
				{{ 'security.login.password-2'|trans }}
			</label>
			<input class="form-control" type="password" name="secondPassword" id="inputSecondPassword" placeholder="{{ 'security.reset.repeat'|trans }}" required>
		</div>
		<input type="hidden" name="token" value="{token}">

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			{{ 'security.reset.submit'|trans }}
		</button>
	</form>
{% endblock %}
