{% extends 'admin.layout.html.twig' %}

{% block title %}Stat tag index{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h2>Stat tag index</h2>
    </div>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <table class="table" data-prototype="
        {% filter escape('html_attr') %}
            {% include 'statTag/prototype.html.twig' with {'form':form} only %}
        {% endfilter %}" id="tag-list">
        <tr>
            <th>Tag name</th>
            <th>Unity</th>
            <th>Active</th>
            <th>actions</th>
        </tr>
        {% for tag in listTags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>{{ tag.unity }}</td>
                <td>
                    {{ tag.active ? "ok":"mute" }}
                <td>
                    {% if tag.stats is empty %}
                        <a class="btn btn-outline-danger" href="{{ path('stat-tag-delete', {'name':tag.name}) }}">
                            <span class="">
                                <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    {% endif %}
                    {% if tag.active == true %}
                        <a class="btn btn-outline-warning" href="{{ path('stat-tag-activate', {'name':tag.name}) }}">
                            <span class="">
                                <i class="fas fa-times"></i>
                            </span>
                        </a>
                    {% elseif tag.active == false %}
                        <a class="btn btn-outline-success" href="{{ path('stat-tag-activate', {'name':tag.name}) }}">
                            <span class="">
                                <i class="fas fa-check"></i>
                            </span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ form_rest(form) }}

    {{ form_end(form) }}

    <div class="text-center" id="add-button"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var addTagButton = $('<a id="tag_add" class="btn btn-block btn-success" href="#">add tag</a>');

        $(document).ready(function() {

            //add the button 
            $("#add-button").append(addTagButton);
        });

        $(document).on('click', "#tag_add", function(e){

            var tagHolder = $("#tag-list");
            var prototype = tagHolder.attr('data-prototype');

            //add the prototype in <tr>
            tagHolder.append(prototype);
            //remove the add button
            $("#add-button").children().remove();

        });

        $(document).on('click', '#tag_cancel', function(e){
            //remove the form
            $("#form-row").remove();
            //add the button
            $("#add-button").append(addTagButton);

        });   
    </script>
{% endblock %}