{% extends 'layout.html.twig' %}

{% block title %}Image index{% endblock %}

{% block content %}

<div class="jumbotron text-center">
	<h1>Image list</h1>
</div>

<div class="container">
	<div class="row flex">
		{% for image in images %}
			<div class="col-12">
				<div class="card">
					<!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
					<div class="card-body">
						<div class="row">
							<h5 class="card-title col-lg-8">{{ image.fileName }}</h5>
							<div class="btn-group col-lg-4">
                            	<a href="{{ path('image-view', {'slug':image.slug}) }}" class="btn btn-outline-primary">View</a>
                            	<a href="{{ path('image-edit', {'slug':image.slug}) }}"class="btn btn-outline-info">Edit</a>
                            	<a href="{{path('image-delete', {'slug':image.slug}) }}"class="btn btn-outline-danger">delete</a>
                        	</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
		<div class="card">
			<div class="card-body">
				<h2 class="card-title">no Images (yet!)</h2>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<hr/>
<a href="{{ path('image-add') }}" class="btn btn-block btn-success">add an image</a>

{% endblock %}
