{% extends 'layout.html.twig' %}

{% block title %}Image view{% endblock %}

{% block content %}

<div class="jumbotron text-center">
	<h1>Image</h1>
</div>

<div class="container">
	<div class="row flex">
		<div class="col-12">
            <div class="card">
                <img class="card-img-top" src={{ asset(vich_uploader_asset(image, "imageFile")) }} alt="image {{ image.id }}">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-lg-8">{{ image.fileName }}</h5>
                        <div class="btn-group col-lg-4">
                            <a href="{{ path('image-view', {'fileName':image.fileName}) }}" class="btn btn-outline-primary">View</a>
                            <a href="{{ path('image-edit', {'fileName':image.fileName}) }}"class="btn btn-outline-info">Edit</a>
                            <a href="{{path('image-delete', {'fileName':image.fileName}) }}"class="btn btn-outline-danger">delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<hr/>
<a href="{{ path('image-index') }}" class="btn btn-block btn-success">return to index</a>

{% endblock %}
