{% extends 'base.html.twig' %}

{% block title %}
	{{ club_name }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">{{ club_name }}</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#project">Project</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#teams">Teams</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#partners">Partners</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#signup">Signup</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block body %}

	<!-- Header -->
	<header class="masthead">
		<div class="container d-flex h-100 align-items-center">
			<div class="mx-auto text-center">
				<h1 class="mx-auto my-0 text-uppercase">My awesome Team !</h1>
				<h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive an creative team-manager created with symfony and bootstrap.</h2>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<a href="{{ path('blog-index', {}) }}" class="btn btn-success js-scroll-trigger">Get Started</a>
				{% else %}
					<a href="{{ path('login') }}" class="btn btn-primary js-scroll-trigger">Log in</a>
				{% endif %}
			</div>
		</div>
	</header>

	<!-- About Section -->
	<section id="project" class="about-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2 class="text-white mb-4">Built with Bootstrap 4</h2>
					<p class="text-white-50">
						Team Manager is a free responsive team manager website skeleton that can be used for any sport activity and entirely customizable. It can be yours right now, simply follow the instructions on our
						<a href="https://github.com/12rambau/team-manager">github project</a>. It is open source and you can use it for any purpose, personal or commercial.
					</p>
				</div>
			</div>
			<img src="{{ asset('image/default/project-landing.png') }}" class="img-fluid" alt="">
		</div>
	</section>

	<!-- Projects Section -->
	<section id="teams" class="projects-section bg-light">
		<div
			class="container">

			<!-- Featured Project Row -->
			{% for team in teams %}
				<div class="row align-items-center no-gutters mb-4 mb-lg-5">
					<div class="col-xl-8 col-lg-7">
						<a href="{{ path('team-player-index', {'name':team}) }}"><img class="img-fluid mb-3 mb-lg-0" src="{{ asset(vich_uploader_asset(team.image, "imageFile")|imagine_filter('gallery')) }}" alt=""></a>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="featured-text text-center text-lg-left">
							<h4>{{ team }}</h4>
							<p class="text-black-50 mb-0">
								{{ team.descripsion }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}

		</section>

		<!-- Partners Section -->
		<section id="partners" class="projects-section">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-5">
						Thanks to our amazing partners<br>
						Without you nothing could have been possible!
					</div>
					<div class="row no-gutters mb-4 mb-lg-5">
						<div id="carousel-partner" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								{% for partner in partners %}
									<li data-target="#carousel-partner" data-slide-to="{{ loop.index0 }}" class="{{ (not loop.index0)?'active' }} bg-primary"></li>
								{% endfor %}
							</ol>
							<div class="carousel-inner">
								{% for partner in partners %}
									<div class="carousel-item {{ (not loop.index0)?'active' }}">
										<img class="d-block w-100" src="{{ asset(vich_uploader_asset(partner.image, "imageFile")|imagine_filter('carousel')) }}">
									</div>
								{% endfor %}
							</div>
							<a class="carousel-control-prev" href="#carousel-partner" data-slide="prev">
								<span class="fa fa-angle-left text-primary" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carousel-partner" data-slide="next">
								<span class="fa fa-angle-right text-primary" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Signup Section -->
		<section id="signup" class="signup-section">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-lg-8 mx-auto text-center">

						<i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
						<h2 class="text-white mb-5">Subscribe to receive updates!</h2>

						<form class="form-inline d-flex">
							<input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
							<button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
						</form>

					</div>
				</div>
			</div>
		</section>

		<!-- Contact Section -->
		<section id="contact" class="contact-section bg-black">
			<div class="container">

				<div class="row">

					<div class="col-md-4 mb-3 mb-md-0">
						<div class="card py-4 h-100">
							<div class="card-body text-center">
								<i class="fas fa-map-marked-alt text-primary mb-2"></i>
								<h4 class="text-uppercase m-0">Address</h4>
								<hr class="my-4">
								<div class="small text-black-50">{{ contact.city }},
									{{ contact.county}},
									{{ contact.postcode }}<br>
									{{ contact.country }}<br></div>
							</div>
						</div>
					</div>

					<div class="col-md-4 mb-3 mb-md-0">
						<div class="card py-4 h-100">
							<div class="card-body text-center">
								<i class="fas fa-envelope text-primary mb-2"></i>
								<h4 class="text-uppercase m-0">Email</h4>
								<hr class="my-4">
								<div class="small text-black-50">
									<a href="{{ path('contact') }}">email form</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 mb-3 mb-md-0">
						<div class="card py-4 h-100">
							<div class="card-body text-center">
								<i class="fas fa-mobile-alt text-primary mb-2"></i>
								<h4 class="text-uppercase m-0">Phone</h4>
								<hr class="my-4">
								<div class="small text-black-50">no phone fonctionality</div>
							</div>
						</div>
					</div>
				</div>

				<div class="social d-flex justify-content-center">
					<a href="#" class="mx-2">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="#" class="mx-2">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://github.com/12rambau/team-manager" class="mx-2">
						<i class="fab fa-github"></i>
					</a>
				</div>

			</div>
		</section>

		<!-- Footer -->
		<footer class="bg-black small text-center text-white-50">
			<div class="container">
				Copyright &copy; Your Website 2019
			</div>
		</footer>


	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('home') }}
	{% endblock %}
