<nav class="navbar  shadow navbar-expand-lg navbar-light {{(navId == 'mainNav')?'bg-white border':'bg-primary fixed-top'}}" id="{{ navId }}">
	<a class="navbar-brand {{ (navId == 'mainNav')?'sr-only' }} col-3 text-center" href="{{ path('home') }}">{{ club_name }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown {{(navId == 'mainNav')?'with-logo' }}" id="firstLi">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownCalendar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ 'navbar.team'|transchoice(teams|length) }}
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownCalendar">
					{% for team in teams %}
						<a class="dropdown-item" href="{{ path('team-player-index', { 'name': team.name}) }}">{{ team.name }}</a>
					{% endfor %}
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="{{ path('blog-index') }}" id="dropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ 'navbar.news.title'|trans }}
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownBlog">
					<a class="dropdown-item" href="{{ path('blog-index') }}">
						{{ 'navbar.news.blog'|trans }}
					</a>
					<a class="dropdown-item" href="{{ path('gallery-index') }}">
						{{ 'navbar.news.gallery'|trans }}
					</a>
					<a class="dropdown-item" href="{{ path('blog-add') }}">
						{{'navbar.news.add'|trans }}
					</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdownCalendar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ 'navbar.calendar.title'|trans }}
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownCalendar">
					<a class="dropdown-item" href="{{ path('event-index') }}">
						{{ 'navbar.calendar.list'|trans }}
					</a>
					<a class="dropdown-item" href="{{ path('event-calendar', {}) }}">
						{{ 'navbar.calendar.mensual'|trans }}
					</a>
					<a class="dropdown-item" href="{{ path('event-add') }}">
						{{ 'navbar.calendar.add'|trans }}
					</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('contact', {}) }}">
					{{ 'navbar.contact'|trans }}
				</a>
			</li>
		</ul>
		<div class="navbar-nav">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<div class=" nav-item dropdown row">
					<img class="rounded-circle" src="{{ asset(vich_uploader_asset(app.user.profilePic, "imageFile")|imagine_filter('userNavbar')) }}" alt="">
					<a class="nav-link dropdown-toggle" href="{{ path('profile-edit', {'username':app.user.username}) }}" id="DropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret">{{ app.user.username }}</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="DropdownProfile">
						<a class="dropdown-item" href="{{ path('profile-view', {'username':app.user.username}) }}">
							{{ 'navbar.user.profile'|trans }}
						</a>
						<hr/>
						<a class="dropdown-item" href="{{ path('logout') }}"><span class="fas fa-off"/>
							{{ 'navbar.user.logout'|trans }}
						</a>
					</div>
				</div>
			{% else %}
				<a class="nav-item nav-link" href="{{ path('login') }}">
					{{ 'navbar.user.login'|trans }}
				</a>
			{% endif %}
		</div>
	</div>
</nav>
