{# a *-to-many collection of values #}
{% if value is iterable %}
	{% if 'show' == view %}
		{% if value|length > 0 %}
			{% for item in value|slice(0, entity_config.show.max_results) %}
				<div class="badge badge-pill badge-secondary">
					{% if link_parameters is defined %}
						{# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
						{% set primary_key_value = '' ~ attribute(item, link_parameters.primary_key_name) %}
						<a href="{{ path('easyadmin', link_parameters|merge({ id: primary_key_value, referer: '' })) }}">{{ item }}</a>
					{% else %}
						{{ item }}
					{% endif %}
				</div>
			{% endfor %}

			{% set _remaining_items = value|length - entity_config.show.max_results %}
			{% if _remaining_items > 0 %}
				<div class="remaining-items">({{ 'show.remaining_items'|transchoice(_remaining_items, {}, 'EasyAdminBundle') }})</div>
			{% endif %}
		{% else %}
			<div class="empty collection-empty">
				{{ include(entity_config.templates.label_empty) }}
			</div>
		{% endif %}
	{% elseif 'list' == view %}
		<span class="badge badge-secondary">{{ value|length }}</span>
	{% endif %}
	{# a simple *-to-one value associated with an entity managed by this backend #}
{% elseif link_parameters is defined %}
	<a href="{{ path('easyadmin', link_parameters|merge({ referer: '' })) }}">{{ value|easyadmin_truncate }}</a>
{% else %}
	{{ value|easyadmin_truncate }}
{% endif %}
