{% extends 'base.html.twig' %}

{% block title %}
	Admin login
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}


{% block body %}
	<div class="login-bg">
		<div id="form" class="col-4">
			<form method="post" class="form">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<h2 class="form-heading">
					Please sign in</h2>
				<div class="form-group">
					<label class="sr-only" for="inputUsername">Username</label>
					<input class="form-control" type="text" name="username" id="inputUsername" placeholder="Username" required autofocus>
				</div>
				<div class="form-group">
					<label class="sr-only" for="inputPassword">Password</label>
					<input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="btn btn-lg btn-primary btn-block" type="submit">
					Sign in
				</button>

			</form>

		</div>

		<div id="club-logo">
			<img src="{{ asset('image/default/favicon_admin.png') }}" alt="club-logo">
			<h2 class="text-center text-uppercase font-weight-bold">Admin Interface</h2>
		</div>
	</div>

{% endblock %}
