{% extends 'layout.html.twig' %}

{% block title %}
	{{ 'gallery.view.title'|trans({'%name%': gallery.name}) }}
{% endblock %}

{% block page_title %}
	<h1>
		{{ 'gallery.view.title'|trans({'%name%': gallery.name}) }}
	</h1>
{% endblock %}

{% block content %}

	{# TODO add th possibility to make them big  in a modal #}
	<div class="row">
		{% for image in gallery.images %}
			<div class="card col-3 m-1 p-0 shadow">
				<img id="imageFile" src="{{ asset(vich_uploader_asset(image, "imageFile")) }}" class="card-img-top" alt="{{ gallery.name ~ loop.index }}">
			</div>
		{% else %}
			<div class="">
				<h3>
				{{ 'gallery.view.no-image'|trans }}
				</h3>
			</div>
		{% endfor %}
	</div>

{% endblock %}
