{% extends 'layout.html.twig' %}

{% block title %}add a new post{% endblock %}

{% block page_title %}
	<h1>Add a new post</h1>
{% endblock %}

{% block content %}
	
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}

		{{ form_row(form.title) }}
		{{ form_row(form.short) }}
		{{ form_row(form.content) }}
		
		<hr>
		{{ form_row(form.save) }}

		{{ form_rest(form) }}
	
	{{ form_end(form) }}


{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/default/news.js') }}"></script>
{% endblock %}
