{% extends (app.token.providerKey == 'admin') ? 'admin.layout.html.twig': 'layout.html.twig' %}


{% block title %}edit post -
	{{ post.slug }}
{% endblock %}

{% block page_title %}
	<h1>Edition</h1>
	<p>BlogPost Edition system</p>
{% endblock %}

{% block content %}

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	{{ form_errors(form) }}

	{{ form_label(form.title, "title : ", {'label_attr': {'class':'control-label'}}) }}
	{{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder':'title...'}}) }}

	{{ form_label(form.short, "short descripsion : ", {'label_attr': {'class':'control-label'}}) }}
	{{ form_widget(form.short, {'attr': {'class': 'form-control', 'placeholder':'a short descripsion...'}}) }}

	{{ form_label(form.content, "content : ", {'label_attr': {'class':'control-label'}}) }}
	{{ form_widget(form.content) }}

	{{ form_rest(form) }}
	<hr>
	<button type="submit" name="blog-add" class="btn btn-primary btn-block">edit the post</button>

	{{ form_end(form) }}

{% endblock %}
