{% extends 'layout.html.twig' %}

{% block title %}{{ 'blog.index.title'|trans }}
{% endblock %}

{% block page_title %}
	<h1>{{ 'blog.index.title'|trans }}</h1>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('blog') }}
{% endblock %}

{% block content %}
	<ul class="nav nav-pills justify-content-center">
		<li class="nav-item">
			<a class="nav-link" id="pills-list" data-toggle="pill" href="#post-list" aria-controls="post-list" aria-selected="false">
				<span class="fa fa-bars"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" id="pills-th" data-toggle="pill" href="#post-th" aria-controls="post-th" aria-selected="true">
				<span class="fas fa-th"/>
			</a>
		</li>
	</ul>

	<hr>

	<div class="tab-content">

		<div id="post-list" class="tab-pane fade" aria-labelledby="pills-list">
			{% for post in posts %}
				<div class="news mb-2">
					<div class="card shadow">
						<div class="row">
							<div class="col-4">
							<img 
								class="w-100 h-100" 
								src="{{ asset(
										(post.gallery.images|length != 0)?
											vich_uploader_asset(post.gallery.images[0], "imageFile"):
											'image/default/no-image-news.jpg'
									)|imagine_filter('news') }}">
							</div>
							<div class="card-block">
								<div class="card-title">
									<h4>{{ post.title }}</h4>
								</div>
								<div class="card-text">
									<strong class="text-primary">
										{{ 'blog.index.by'|trans }}
										{{ post.author.firstName }}
										{{ post.author.lastName }}
									</strong>
									<span class="text-muted ml-1">
										{{ 'blog.index.on'|trans }}
										{{ post.publishDate|localizeddate('short', 'none', app.request.locale) }}
										<a class="chevron-display ml-1 text-danger" href="#" onclick="displayDetails(event)">
											<span id="{{ post.slug }}-button" class="fa fa-chevron-down"/>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div id="{{ post.slug }}-details" class="container detail col-12 clearfix">
						<div class="mr-2 card-text">
							{{ post.short|slice(0,150)|raw}}
						</div>
						<div class="float-right">
							<a href="{{ path('blog-view', { 'slug':post.slug }) }}" class="btn btn-primary">{{ 'blog.index.learn-more'|trans }}</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">{{ 'blog.index.no-post'|trans }}</h2>
					</div>
				</div>
			{% endfor %}
		</div>

		<div id="post-th" class="tab-pane fade show active" aria-labelledby="pills-th">
			<div class="row">
				{% for post in posts %}
					<div class=" col-4 p-2">
						<div class="card shadow h-100">
							<img 
								class="card-img-top" 
								src="{{ asset(
										(post.gallery.images|length != 0)?
											vich_uploader_asset(post.gallery.images[0], "imageFile"):
											'image/default/no-image-news.jpg'
									)|imagine_filter('news') }}">
							<div class="card-body position-relative">
								<figure class="profile">
									<img src="{{ asset(vich_uploader_asset(post.author.profilePic, "imageFile")|imagine_filter('userNavbar')) }}" class="profile-avatar" alt="">
								</figure>
								<h5 class="card-title mt-3">{{ post.title }}</h5>
								<div class="text-primary mb-1">
									<small>{{ 'blog.index.by'|trans }} 
										<b>{{ post.author.username }}</b>
									</small>
								</div>
								<div class="card-text">
									  {{ post.short|slice(0,150)|raw}}
								</div>
							</div>
							<div class="card-footer clearfix">
								<small class="text-muted">
									{{ 'blog.index.on'|trans }} {{ post.publishDate|localizeddate('short', 'none') }}
								</small>
								<div class="btn-group float-right">
									<a href="{{ path('blog-view', { 'slug':post.slug }) }}" class="btn btn-secondary">{{ 'blog.index.learn-more'|trans }}</a>
								</div>

							</div>
						</div>
					</div>
				{% else %}
					<div class="card">
						<div class="card-body">
							<h2 class="card-title">{{ 'blog.index.no-post'|trans }}</h2>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	</div>


	<hr/>

	<div class=" row">
		<nav class="col-lg-6">
			<ul class="pagination">
				<li class="page-item {% if page == 1 %}disabled{% endif %}">
					<a class="page-link" href="{{ path('blog-index', {'page': page-1}) }}">{{ 'paginator.previous'|trans }}</a>
				</li>
				{% for i in max(page-3,1)..min(page+3,maxPage) %}
					<li class="page-item {% if i == page %}active{% endif %}">
						<a class="page-link" href="{{ path('blog-index', {'page': i}) }}">{{ i }}</a>
					</li>
				{% endfor %}
				<li class="page-item {% if page == maxPage %}disabled{% endif %}">
					<a class="page-link" href="{{ path('blog-index', {'page': page+1}) }}">{{ 'paginator.next'|trans }}</a>
				</li>
			</lu>
		</nav>
		<div class="col-lg-6">{{ 'paginator.result'|trans }}
			{{ (page-1) * nbPostPerPage }}
			-
			{{ min(page * nbPostPerPage,nbPost) }}
			{{ 'paginator.from'|trans }}
			{{ nbPost }}
			{{ 'blog.class.label'|trans }}</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('blog') }}
{% endblock %}
