{% extends 'layout.html.twig' %}

{% block title %}Blog index
{% endblock %}

{% block page_title %}
	<h1>Blog Posts</h1>
{% endblock %}

{% block content %}

	<div class="container">
		{% for post in posts %}
			<div class="news">
				<div class="card">
					<div class="row">
						<div class="col-4">
							<img src="{{ asset('image/default/no-image-news.jpg')|imagine_filter('news') }}" class="w-100 h-100">
						</div>
						<div class="card-block">
							<div class="card-title">
								<h4>{{ post.title }}</h4>
							</div>
							<div class="card-text">
								<strong class="text-primary">
									By {{ post.author.firstName }} {{ post.author.lastName }}
								</strong>
								<span class="text-muted ml-1">
									on {{ post.publishDate|date('d/m/Y') }} 
									<a class="chevron-display ml-1 text-danger" href="#" onClick="displayDetails(event)">
										<span id="{{ post.slug }}-button" class="fa fa-chevron-down"/>
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div id="{{ post.slug }}-details" class="container detail col-11 clearfix">
					<div class="mr-2 card-text">
						{{ post.short|slice(0,150)|raw}}
					</div>
					<div class="float-right">
						<a href="{{ path('blog-view', { 'slug':post.slug }) }}" class="btn btn-primary">Learn more</a>
					</div>
				</div>
			</div>
		{% else %}
			<div class="card">
				<div class="card-body">
					<h2 class="card-title">no Post to display (yet!)</h2>
				</div>
			</div>
		{% endfor %}
	</div>
	{#<div class="row row-flex">
		{% for post in posts %}
			<div
				class="card col-4">
				<!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
				<div class="card-body">
					<h5 class="card-title">{{ post.title }}</h5>
					<div class="small text-muted row">
						<p class="text-left col-6">by
							<em>{{ post.author.username }}</em>
						</p>
						<p class="text-right col-6">{{ post.publishDate|date('d/m/Y') }}</p>
					</div>
					<p class="card-text">{{ post.short|slice(0,150)|raw}}</p>
					<a href="{{ path('blog-view', { 'slug':post.slug }) }}" class="btn btn-primary btn-block">view</a>
					{% if post.active == false %}
						<hr/>
						<p class="alert alert-danger text-center">The post is not yet public</p>
					{% endif %}
				</div>
			</div>
		{% else %}
			<div class="card">
				<div class="card-body">
					<h2 class="card-title">no Post (yet!)</h2>
				</div>
			</div>
		{% endfor %}
	</div>#}

	<hr/>

	<div class=" row">
		<nav class="col-lg-6">
			<ul class="pagination">
				<li class="page-item {% if page == 1 %}disabled{% endif %}">
					<a class="page-link" href="{{ path('blog-index', {'page': page-1}) }}">Previous</a>
				</li>
				{% for i in max(page-3,1)..min(page+3,maxPage) %}
					<li class="page-item {% if i == page %}active{% endif %}">
						<a class="page-link" href="{{ path('blog-index', {'page': i}) }}">{{ i }}</a>
					</li>
				{% endfor %}
				<li class="page-item {% if page == maxPage %}disabled{% endif %}">
					<a class="page-link" href="{{ path('blog-index', {'page': page+1}) }}">Next</a>
				</li>
			</lu>
		</nav>
		<div class="col-lg-6">Result
			{{ (page-1) * nbPostPerPage }}
			-
			{{ min(page * nbPostPerPage,nbPost) }}
			from
			{{ nbPost }}
			blogPost</div>
	</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('blog') }}
{% endblock %}
