{% extends 'layout.html.twig' %}

{% block title %}
	{{ post.slug }}
{% endblock %}

{% block page_title %}
	<div>
		<h1>{{ post.title }}</h1>
	</div>
	<div>
		<span class="text-primary">by
			{{ post.author.name }}</span>
		<span class="text-muted ml-1">
			on
			{{ post.publishDate|date('d/m/Y') }}</span>
	</div>
	<div class="row">
		<a href="#" class="btn btn-primary m-1">XX galleries</a>
		<a id="nb-comment" href="#comment-section" class="btn btn-primary m-1">{{post.comments|length }}
			comments</a>
	</div>
{% endblock %}

{% block content %}
	<div class="clearfix">
		{% if post.active == false %}
			<div class="alert alert-warning text-center">
				The Post is not yet activated
			</div>
		{% endif %}
		{# ToDO align the breadcum with the pecil #}
		<ol class="breadcrumb bg-transparent">
			<li class="breadcrumb-item">
				<a href="{{ path('blog-index') }}">News</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
		</ol>
		{% if (app.user is same as(post.author))  or is_granted('ROLE_ADMIN') %}
			{# TODO for prod remove the ROLE_ADMIN #}
			<span
				class="float-right">
				{# TODO put this pencil on the right #}
				<button class="btn btn-link text-muted" data-toggle="popover" data-html="true" data-content='<a href="{{ path('blog-edit', {'slug':post.slug}) }}">edit</a>'><span class="fa fa-pencil-alt"/></button>
			</span>

		{% endif %}
	</div>

	<hr>

	<div class="container">
		<div>
			{{ post.content }}
		</div>

		<hr>
		<h3 id="comment-section">{{post.comments|length }}
			comments</h3>
		{{ form_start(form) }}

		<div class="input-group mb-4">
			{{ form_widget(form.content) }}
			<span class="input-group-btn">
				{{ form_widget(form.send) }}
			</span>
		</div>

		{{ form_rest(form)}}

		{{ form_end(form) }}

		<div>
			<img id="loading" class="loader" src="{{ asset('image/default/loading.svg') }}" alt="loading">
			<ul id="comments-list" class="list-unstyled">
				{% for comment in comments|reverse %}
					<li class="clearfix">
						<span class="float-left mr-3">
							<img class="rounded-circle" src="{{ asset(vich_uploader_asset(comment.author.profilePic, "imageFile")|imagine_filter('userNavbar')) }}">
						</span>
						<div class="text-left clearfix">
							<div class="header">
								<strong>{{ comment.author.name }}</strong>
								<small class="float-right text-muted">
									<span class="far fa-clock"/>
									{{ comment.publishDate|date('d/m H:i') }}
								</small>
							</div>
							<p>
								{{ comment.content }}
							</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('blog') }}
{% endblock %}
