{% extends 'layout.html.twig' %}

{% block title %}
	{{ post.slug }}
{% endblock %}

{% block page_title %}
	<div>
		<h1>{{ post.title }}</h1>
	</div>
	<div>
		<span class="text-primary">by
			{{ post.author.name }}</span>
		<span class="text-muted ml-1">
			on
			{{ post.publishDate|date('d/m/Y') }}</span>
	</div>
	<div class="row">
		<a href="#gallery-section" class="btn btn-primary m-1">{{ (post.gallery)?post.gallery.images|length:'0' }}
			images</a>
		<a id="nb-comment" href="#comment-section" class="btn btn-primary m-1">{{post.comments|length }}
			comments</a>
	</div>
{% endblock %}

{% block content %}
	{% if post.active == false %}
		<div class="alert alert-warning text-center">
			The Post is not yet activated
		</div>
	{% endif %}
	<div class="col-12 row">
		<div class="col-10">
			<ol class="breadcrumb bg-transparent">
				<li class="breadcrumb-item">
					<a href="{{ path('blog-index') }}">News</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
			</ol>
		</div>
		{% if (app.user is same as(post.author))  or is_granted('ROLE_ADMIN') %}
			<div class="col-2">
				<a class="btn float-right text-muted" data-toggle="popover" data-placement="bottom" tabindex="0" data-html="true" data-content='<a href="{{ path('blog-edit', {'slug':post.slug}) }}">edit</a>'>
					<span class="fa fa-pencil-alt"/>
				</a>
			</div>
		{% endif %}
	</div>

	<hr>

	<div class="container">
		<div>
			{{ post.content|raw }}
		</div>

		<hr>

		<div id="gallery-section">

			<a href="{{ path('gallery-view', {'name':post.gallery}) }}" class=" btn btn-block btn-primary mb-2">
				access the gallery
			</a>
			{% if (app.user is same as(post.author))  or is_granted('ROLE_ADMIN') %}
				<a href="{{ path('gallery-edit', {'name':post.gallery}) }}" class="btn btn-block btn-warning mb-2">
					Edit the gallery
				</a>
			{% endif %}

			{% if post.gallery.images|length %}
				<div id="carousel-gallery" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for image in post.gallery.images %}
							<li data-target="#carousel-gallery" data-slide-to="{{ loop.index0 }}" class="{{ (not loop.index0)?'active' }} bg-primary"></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">
						{% for image in post.gallery.images %}
							<div class="carousel-item {{ (not loop.index0)?'active' }}">
								<img class="d-block w-100" src="{{ asset(vich_uploader_asset(image, "imageFile")) }}" alt="slide-{{ loop.index0 }}">
							</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#carousel-gallery" data-slide="prev">
						<span class=" h2 fa fa-angle-left text-primary" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carousel-gallery" data-slide="next">
						<span class="h2 fa fa-angle-right text-primary" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			{% else %}
				<h5>No picture in this post! (yet)</h5>
			{% endif %}
		</div>

		<hr>

		<h3 id="comment-section">{{post.comments|length }}
			comments</h3>
		{{ form_start(form) }}

		<div class="mb-4">
			<div class="col-12">
				<small>{{ form_help(form.content) }}</small>

				<div class="form-error">
					{{ form_errors(form.content) }}
				</div>
			</div>
			<div class="input-group col-12">
				{{ form_widget(form.content) }}

				<span class="input-group-btn ml-1">
					{{ form_widget(form.send) }}
				</span>
			</div>
		</div>

		{{ form_rest(form)}}

		{{ form_end(form) }}

		<div>
			<img id="loading" class="loader" src="{{ asset('image/default/loading.svg') }}" alt="loading">
			<ul id="comments-list" class="list-unstyled">
				{% for comment in comments|reverse %}
					<li class="clearfix">
						<span class="float-left mr-3">
							<img class="rounded-circle" src="{{ asset(vich_uploader_asset(comment.author.profilePic, "imageFile")|imagine_filter('userNavbar')) }}">
						</span>
						<div class="text-left clearfix">
							<div class="header">
								<strong>{{ comment.author.name }}</strong>
								<small class="float-right text-muted">
									<span class="far fa-clock"/>
									{{ comment.publishDate|date('d/m H:i') }}
								</small>
							</div>
							<p>
								{{ comment.content }}
							</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('blog') }}
{% endblock %}
