{% extends 'layout.html.twig' %}

{% block title %}
	{{ post.slug }}
{% endblock %}

{% block page_title %}
	<div>
		<h1>{{ post.title }}</h1>
	</div>
	<div>
		<span class="text-primary">by
			{{ post.author.name }}</span>
		<span class="text-muted ml-1">
			on
			{{ post.publishDate|date('d/m/Y') }}</span>
	</div>
	<div class="row">
		<a href="#" class="btn btn-primary m-1">XX galleries</a>
		<a id="nb-comment" href="#comment-section" class="btn btn-primary m-1">{{post.comments|length }}
			comments</a>
	</div>
{% endblock %}

{% block content %}
	{% if post.active == false %}
		<div class="alert alert-warning text-center">
			The Post is not yet activated
		</div>
	{% endif %}
	<div class="col-12 row">
		<div class="col-10">
			<ol class="breadcrumb bg-transparent">
				<li class="breadcrumb-item">
					<a href="{{ path('blog-index') }}">News</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
			</ol>
		</div>
		{% if (app.user is same as(post.author))  or is_granted('ROLE_ADMIN') %}
			{# TODO for prod remove the ROLE_ADMIN #}
			<div
				class="col-2">
				<a class="btn float-right text-muted" data-toggle="popover" data-placement="bottom" tabindex="0" data-html="true" data-content='<a href="{{ path('blog-edit', {'slug':post.slug}) }}">edit</a>'>
					<span class="fa fa-pencil-alt"/>
				</a>
			</div>
		{% endif %}
	</div>

	<hr>

	<div class="container">
		<div>
			{{ post.content }}
		</div>

		<hr>
		<h3 id="comment-section">{{post.comments|length }}
			comments</h3>
		{{ form_start(form) }}

		<div class="mb-4">
			<div class="col-12">
				<small>{{ form_help(form.content) }}</small>

				<div class="form-error">
					{{ form_errors(form.content) }}
				</div>
			</div>
			<div class="input-group col-12">
				{{ form_widget(form.content) }}

				<span class="input-group-btn ml-1">
					{{ form_widget(form.send) }}
				</span>
			</div>
		</div>

		{{ form_rest(form)}}

		{{ form_end(form) }}

		<div>
			<img id="loading" class="loader" src="{{ asset('image/default/loading.svg') }}" alt="loading">
			<ul id="comments-list" class="list-unstyled">
				{% for comment in comments|reverse %}
					<li class="clearfix">
						<span class="float-left mr-3">
							<img class="rounded-circle" src="{{ asset(vich_uploader_asset(comment.author.profilePic, "imageFile")|imagine_filter('userNavbar')) }}">
						</span>
						<div class="text-left clearfix">
							<div class="header">
								<strong>{{ comment.author.name }}</strong>
								<small class="float-right text-muted">
									<span class="far fa-clock"/>
									{{ comment.publishDate|date('d/m H:i') }}
								</small>
							</div>
							<p>
								{{ comment.content }}
							</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('blog') }}
{% endblock %}
