{% extends 'layout.html.twig' %}

{% block title %}{{ post.slug }}{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div><h1>{{ post.title }}</h1></div>
    <div>{{ post.short }}</div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-text">
            {{ post.content }}
        </div>
    </div>
</div>

{% if post.active == false %}
    <hr/>
    <div class="alert alert-danger text-center"> The Post is not yet activated</div>
{% endif %}

<hr/>
<div class="container text-center">
    <a class="btn btn-primary" href={{ path('blog-index') }}>Return to index</a>
</div>

{% endblock %}
