{% extends 'admin.layout.html.twig' %}

{% block title %}messages index{% endblock %}

{% block content %}
	<div class="jumbotron text-center">
		<h1>Chat Messages</h1>
		<p>Chat messages management systen</p>
	</div>

	<div class="container small">
		<table class="table table-hover small">
			<thead>
				<tr>
					<th>Id</th>
					<th>content</th>
					<th>published</th>
					<th>author</th>
					<th>action</th>
				</tr>
			</thead>
			<tbody>
				{% for message in messages %}
					<tr>
						<td>{{ message.id }}<td>
						<td>{{ message.content }}</td>
						<td>{{ message.date|date('d/m/Y h:i:s') }}</td>
						<td>{{ message.author.username }}</td>
						<td><a href="{{ path('admin-chat-delete', {'id':message.id}) }}" class="btn btn-outline-danger btn-sm">delete</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
