{% extends 'admin.layout.html.twig' %}

{% block title %}Edit a field Template{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('css/field/field.css') }}" type="text/css"/>
{% endblock %}

{% block content %}

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

		<div class="container-fluid row">
			<div class="col-9">

				<div class="jumbotron">
					<h2>Add a new Template</h2>
				</div>
				
				{{ form_errors(form) }}

				<button type="submit" name="field-add" class="btn btn-success btn-block">save modifications</button>
				
				{{ form_label(form.name, "name : ", {'label_attr': {'class':'control-label'}}) }}
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">template_</div>
					</div>
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div id="positionning">
					<img 
						id="imageFile"
						class="col-12" 
						src=
							{% if template.image != null %}
								{{ asset(vich_uploader_asset(template.image, "imageFile")) | imagine_filter('field') }}
							{% else %}
								{{ asset('image/default/empty_field.jpg') | imagine_filter('field') }}
							{% endif %}
						alt="image {{ template.id }}"
					>

					{% for position in template.positions %}
						<div
							id="template_positions_{{ loop.index0 }}_card"
							class="card position-card positionned"
							style="
								top:{{ position.vertical }}%;
								left:{{ position.horizontal }}%;
								background: url('{{ asset('image/default/no-position.jpg') | imagine_filter('position') }}');
							"
						>
						</div>
					{% endfor %}
				</div>
				<div id="previewAlert" class="alert alert-warning sr-only">
					This is a preview, please save before any other modification
				</div>


				<div class="custom-file">
					{{ form_widget(form.image.imageFile, {'attr': {'class': 'custom-file-input'}}) }}
					{{ form_label(form.image.imageFile, "imageFile : ", {'label_attr': {'class':'custom-file-label', }}) }}
				</div>
				
				<ul 
					id="positions" 
					class="list-group list-group-flush" 
					data-prototype="
						{% filter escape('html_attr') %}
							{% include 'position/prototype.html.twig' with {'form': form.positions.vars.prototype} only %}
						{% endfilter %}
					"
				>
					{% for position in form.positions %}
						<li class="list-group-item">
							{% include 'position/prototype.html.twig' with {'form': position} only %}
						</li>
					{% endfor %}
				</ul>

			</div>
			
			<div class="col-3">
				<div class="card">
                    <div class="card-header">
                        <p class="card-title"><span class="fas fa-arrows-alt"/> Positions</p>
                    </div>
                    <div class="card-body">
						<small>
							<ul id="position-name" class="list-group list-group-flush">
								{% for position in template.positions %}
								<li id="template_positions_{{ loop.index0 }}_namer" class="list-group-item">
									{{ position.name }}
								</li>
								{% endfor %}
							</ul>
						</small>
                    </div>
                </div>
			</div>
		</div>
		
		{{ form_rest(form) }}

	{{ form_end(form) }}
	


{% endblock %}

{% block javascripts %}
	
	{{ parent() }}

	<script type="text/javascript">
		var phantomUrl = "{{ asset('image/default/no-position.jpg') | imagine_filter('position') }}";
	</script>

	<script src="{{ asset('js/field/readUrl.js') }}"></script>
	<script src="{{ asset('js/field/positionManager.js') }}"></script>
{% endblock %}
