{% extends 'layout.html.twig' %}

{% block title %}Edit a field Template{% endblock %}

{% block body %}

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

		<div class="container-fluid row">
			<div class="col-9">

				<div class="jumbotron">
					<h2>Add a new Template</h2>
				</div>
				
				{{ form_errors(form) }}

				<button type="submit" name="field-add" class="btn btn-success btn-block">save modifications</button>
				
				{{ form_label(form.name, "name : ", {'label_attr': {'class':'control-label'}}) }}
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">template_</div>
					</div>
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div 
					id="positionning" 
					style="
						position:relative;
						border-color: red
					"
				>
					<img 
						id="imageFile"
						class="col-12" 
						src=
							{% if template.image != null %}
								{{ asset(vich_uploader_asset(template.image, "imageFile")) | imagine_filter('field') }}
							{% else %}
								{{ asset('image/default/empty_field.jpg') | imagine_filter('field') }}
							{% endif %}
						alt="image {{ template.id }}"
						style="
							{# position:absolute; #}
							top:0px;
							left:0px;
						"
					>

					{% for position in template.positions %}
						<div
							id="template_positions_{{ loop.index0 }}_card"
							class="card"
							style="
								position: absolute;
								top:{{ position.vertical }}%;
								left:{{ position.horizontal }}%;
								height:65px;
								width:50px;
								margin-top: -32px;  {# set to a negative number 1/2 of your height #}
    							margin-left: -25px;  {# set to a negative number 1/2 of your width #}
								z-index: {{ loop.index + 1 }};
							"
						>
							<img src="{{ asset('image/default/no-position.jpg') | imagine_filter('position') }}" alt="no-position">
						</div>
					{% endfor %}
				</div>
				<div id="previewAlert" class="alert alert-warning sr-only">
					This is a preview, please save before any other modification
				</div>

				{{ form_label(form.image.imageFile, "imageFile : ", {'label_attr': {'class':'control-label', }}) }}
				{{ form_widget(form.image.imageFile) }}

			</div>
			
			<div class="col-3">
				<div class="card">
                    <div class="card-header">
                        <p class="card-title"><span class="fas fa-arrows-alt"/> Positions</p>
                    </div>
                    <div class="card-body">
						<small>
                        	<ul id="positions" class="list-group list-group-flush" data-prototype="{{ form_widget(form.positions.vars.prototype)|e('html_attr') }}">
							{% for position in form.positions %}
								<li class="list-group-item">
									{{ form_widget(position) }}
									<button class="btn btn-danger" onClick="removePosition(event);">
										Remove
									</button>
								</li>
							{% endfor %}
							</ul>
						</small>
                    </div>
                </div>
			</div>
		</div>
		
		{{ form_rest(form) }}

	{{ form_end(form) }}
	


{% endblock %}

{% block javascripts %}
	
	{{ parent() }}

	<script type="text/javascript">
		$(document).ready(function(){
			$("#positionning").height($("#imageFile").height());
		});
	</script>

	<script type="text/javascript">
		function readURL(input) {
  			if (input.files && input.files[0]) {
    			var reader = new FileReader();
    			reader.onload = function (e) {
      				$('#imageFile')
        				.attr('src', e.target.result)
        				.width(150)
        				.height(200);
				};
    			reader.readAsDataURL(input.files[0]);
				$('#previewAlert').attr('class', $('#previewAlert').attr('class').replace('sr-only', ''));
  			}
		}
	</script>

	<script type="text/javascript">
		var $collectionHolder;

		// setup an "add a tag" link
		var $addPositionButton = $('<button type="button" class="btn btn-primary">Add a position</button>');
		var $newLinkLi = $('<li class="list-group-item"></li>').append($addPositionButton);

		jQuery(document).ready(function() {
    		// Get the ul that holds the collection of tags
    		$collectionHolder = $('#positions');

    		// add the "add a tag" anchor and li to the tags ul
			$collectionHolder.append($newLinkLi);

    		// count the current form inputs we have (e.g. 2), use that as the new
    		// index when inserting a new item (e.g. 2)
    		$collectionHolder.data('index', $collectionHolder.find(':input').length);

    		$addPositionButton.on('click', function(e) {
				// add a new tag form (see next code block)
        		addPositionForm($collectionHolder, $newLinkLi);
    		});
		});

		function addPositionForm($collectionHolder, $newLinkLi) {
    		// Get the data-prototype explained earlier
    		var prototype = $collectionHolder.data('prototype');

    		// get the new index
    		var index = $collectionHolder.data('index');

    		var newForm = prototype;

    		// Replace '__name__' in the prototype's HTML to
    		// instead be a number based on how many items we have
    		newForm = newForm.replace(/__name__/g, index);

    		// increase the index with one for the next item
    		$collectionHolder.data('index', index + 1);

			var test = $('<button/>',
			{
				class: "btn btn-danger",
        		text: 'Remove',
        		click: function () { removePosition(event); }
    		});

    		// Display the form in the page in an li, before the "Add a tag" link li
    		var $newFormLi = $('<li class="list-group-item"></li>').append(newForm).append(test);
    		$newLinkLi.before($newFormLi);
		}

		function removePosition(event){
			event.preventDefault();
			$(event.target).parent().remove();
		}
	</script>

	<script type="text/javascript">
		$('input[type=range]').change(function(event){
			
			var target = $(event.target);
			var position = $(event.target).parent().parent().attr('id');
			
			if(target.attr('id') == position+"_horizontal")
			{
				$("#"+position+"_card").css('left', target.val()+"%");
			} else if(target.attr('id') == position+"_vertical")
			{
				$("#"+position+"_card").css('top', target.val()+"%");
			}

		});
	</script>
{% endblock %}
