{% extends 'layout.html.twig' %}

{% block title %}Field view{% endblock %}

{% block content %}

<div class="jumbotron text-center">
	<h1>Field</h1>
</div>

<div class="container">
	<div class="row flex">
		<div class="col-12">
            <div class="card">
                <img class="card-img-top" src={{ asset(vich_uploader_asset(field.image, "imageFile")) }} alt="image {{ field.name }}">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-lg-8">{{ field.name }}</h5>
                        <div class="btn-group col-lg-4">
                            <a href="{{ path('field-view', {'slug':field.slug}) }}" class="btn btn-outline-primary">View</a>
                            <a href="{{ path('field-edit', {'slug':field.slug}) }}"class="btn btn-outline-info">Edit</a>
                            <a href="{{path('field-delete', {'slug':field.slug}) }}"class="btn btn-outline-danger">delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<hr/>
<a href="{{ path('field-index') }}" class="btn btn-block btn-success">return to index</a>

{% endblock %}
