{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/theme/admin.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/admin/style.css') }}" type="text/css"/>
{% endblock %}



 {% block sidebar %}
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('admin-blog-index') }}">Blog Posts</a></li>
            <li class="list-group-item"><a href="{{ path('admin-chat-index') }}">Chat messages</a></li>
        </ul>
    </nav>
{% endblock %}
        
{% block navbar %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>
        <a class="navbar-brand" href="#">TeamManager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="#">Home</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function () {

            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                // open or close navbar
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
                // close dropdowns
                $('.collapse.in').toggleClass('in');
                // and also adjust aria-expanded attributes we use for the open/closed arrows
                // in our CSS
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });

        });
	
    </script>

{% endblock %}
