{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('layout') }}
{% endblock %}

{% block navbar %}
	<div class="row bg-white pt-3 mt-0">
		<div id="logo" class="col-3 text-center">
			<a href="{{ path('home') }}"><img class="img-fluid mb-3 mb-lg-0" src="{{ asset('image/default/no-logo.png')|imagine_filter('navbar') }}" alt=""></a>
		</div>
		<div class="jumbotron col-8">
			{% block page_title %}
				<h1>Page title</h1>
			{% endblock %}
		</div>
	</div>
	{{ render(controller('App\\Controller\\DefaultController::Nav', {'navId':'mainNav'})) }}
	{{ render(controller('App\\Controller\\DefaultController::Nav', {'navId':'secondNav'})) }}
{% endblock %}

{% block body %}
	<div class="container-fluid row mt-2">
		<div class="col-9">
			{% block content %}{% endblock %}
		</div>
		<div class="col-3">
			{% block aside %}
				<div class="card shadow">
					<div class="card-header">
						<p class="card-title"><span class="fas fa-calendar"/>
							Events</p>
					</div>
					<div id="aside-calendar" class="card-body">
						<div class="small">
							<div id="mini-calendar"></div>
						</div>
					</div>
				</div>
			{% endblock %}
		</div>
	</div>

	{% include "default/footer.html.twig" %}
	
	{% block chat %}
		{{ render(controller('App\\Controller\\ChatController::show')) }}
	{% endblock %}

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	{{ encore_entry_script_tags('layout') }}

{% endblock %}
