{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>My Profile</h1>
    </div>

    {{ form_start(form) }} 
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3">
                    <img src="{{ asset('picture/default/no-profile-pic.jpg') }}" class="img-rounded col-lg-12" alt="profile-pic">
                    {{ form_widget(form.profilePic, {'attr': {'required':false}}) }}
                </div>
                <div class="col">
                    

                        {{ form_errors(form) }} 

                        <div class="form-group row">
                            {{ form_label(form.username, 'Username: ', {'label_attr': {'class': 'col-lg-2 col-form-label'}}) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form_label(form.firstName, 'First name: ', {'label_attr': {'class': 'col-lg-2 col-form-label'}}) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form_label(form.lastName, 'Last name: ', {'label_attr': {'class': 'col-lg-2 col-form-label'}}) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form_label(form.email, 'Email: ', {'label_attr': {'class': 'col-lg-2 col-form-label'}}) }}
                            <div class="col-lg-10">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div> 

                        <a href="#">Change the pasword</a>

                        {{ form_rest(form) }}  
                        
                        <hr>
                        <button type="submit" name="user-edit" class="btn btn-primary btn-block">save modification</button>

                    {{ form_end(form) }}    
                </div>
            </div>
        </div>
    </div>
{% endblock %}